<style>


.app-item-container{
  /*padding: 3px;*/
  background-color: white;
  cursor: pointer;
}
.app-store-item-selected {
   background-color: green !important;
}

.instance-icon-container{
    color: #DCDCDC;
    text-align: center;
    padding-bottom: 10px;
}
.instance-icon {
   font-size: 35px;
}
.app-instance-runlist {
  padding-bottom: 5px !important;
    padding-top: 0 !important;
    min-height: 90px;
}
.app-item-runlist-block {
  display: block;
  font-size: 11px;
  text-align: center;; 
}
.center-alignment {
  display: inline-block;
    text-align: center;
}

.app-item-heading {
  text-align: center;
  font-size: 11px;
  text-decoration: underline;
  display: block;
   margin-bottom: 5px;
}
.margin-bt-appItem {
  margin-bottom: 10px !important;
}
.configureInstancesBtn {
  background: none repeat scroll 0 0 #428BCA;
    border: 0 none;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
     margin: 10px 5px 10px 46%;
    padding: 10px 5px;
    width: 100px
}
 
.action-button {
    background: none repeat scroll 0 0 #428BCA;
    border: 0 none;
    border-radius: 5px;
    color: #FFFFFF !important;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 5px;
    width: 100px;
    text-decoration: none !important; 
}
.appStoreBtnContainer {
  margin-top: 17px;
    padding-left: 63%;
}
.form-left-div {
  width : 40%;
  display: inline-block;
}
.form-right-div {
  width : 60%;
  display: inline-block;
}
.app-recipes-list {
  height:150px !important;
  width:500px;
  margin-bottom:10px;
            
}
.saveAsAppStoreBtn{
width:145px;
}
.saveBluePrintInputControl {
  width:300px !important;
  display: inline-block !important;
}
.saveBluePrintInputlable {
  
}

</style>
<link type="text/css" href="css/ui.multiselect.css" rel="stylesheet" />

 <div class="appStoreArea">



  <div class="appStoregalleryContainer">
      
<ul id="dynamiclist" class="thumbnails list-unstyled" style="margin-top: 30px;">


<li class="col-xs-2"> 
  <div class="thumbnail  margin-bt-appItem">
    <div data-appFact-title="LAMP" class="app-item-container">
       <div class="instance-icon-container">
      <!--<i class="fa fa-laptop instance-icon"></i>-->
      <img src="img/app-store-icons/lamp.png" alt="Lamp Stack" style="height: 50px;"/>
    </div>
    <div class="caption app-instance-runlist">
      <span class="app-item-heading"><strong>LAMP</strong></span>
      <span class="app-item-runlist-block">Apache</span>
      <span class="app-item-runlist-block">Mysql</span>
      <span class="app-item-runlist-block">PHP</span>
    </div>      
  </div>
</div>
</li>

<li class="col-xs-2"> 
  <div class="thumbnail  margin-bt-appItem">
    <div  data-appFact-title="NodeJS" class="app-item-container">
       <div class="instance-icon-container">
      <!--<i class="fa fa-laptop instance-icon"></i>-->
      <img src="img/app-store-icons/nodejs.png" alt="NodeJS Stack" style="height: 50px;width: 100px;"/>
    </div>
    <div class="caption app-instance-runlist">
      <span class="app-item-heading"><strong>NodeJS</strong></span>
      <span class="app-item-runlist-block">NodeJS</span>
      <span class="app-item-runlist-block">MongoDb</span>
    </div>      
  </div>
</div>
</li>

<li class="col-xs-2"> 
  <div class="thumbnail  margin-bt-appItem">
    <div data-appFact-title="Tomcat" class="app-item-container">
       <div class="instance-icon-container">
      <!--<i class="fa fa-laptop instance-icon"></i>-->
      <img src="img/app-store-icons/tomcat.png" alt="Tomcat Stack" style="height: 50px;width: 100px;"/>
    </div>
    <div class="caption app-instance-runlist">
      <span class="app-item-heading"><strong>Tomcat</strong></span>
      <span class="app-item-runlist-block">Java</span>
      <span class="app-item-runlist-block">Tomcat</span>
    </div>      
  </div>
</div>
</li>

<li class="col-xs-2"> 
  <div class="thumbnail  margin-bt-appItem">
    <div data-appFact-title="Apache" class="app-item-container">
       <div class="instance-icon-container">
     <!--<i class="fa fa-laptop instance-icon"></i>-->
      <img src="img/app-store-icons/apache.png" alt="Apache Stack" style="height: 50px;width: 100px;"/>
    </div>
    <div class="caption app-instance-runlist">
      <span class="app-item-heading"><strong>Apache</strong></span>
      <span class="app-item-runlist-block">Apache</span>
    </div>      
  </div>
</div>
</li>

<li class="col-xs-2"> 
  <div class="thumbnail  margin-bt-appItem">
    <div data-appFact-title="JBoss" class="app-item-container">
       <div class="instance-icon-container">
     <!--<i class="fa fa-laptop instance-icon"></i>-->
      <img src="img/app-store-icons/jboss.png" alt="JBoss Stack" style="height: 50px;width: 100px;"/>
    </div>
    <div class="caption app-instance-runlist">
      <span class="app-item-heading"><strong>JBoss</strong></span>
      <span class="app-item-runlist-block">Java</span>
      <span class="app-item-runlist-block">JBoss 7.1</span>
    </div>      
  </div>
</div>
</li>
<li class="col-xs-2"> 
  <div class="thumbnail  margin-bt-appItem">
    <div data-appFact-title="Hadoop" class="app-item-container">
       <div class="instance-icon-container">
      <!--<i class="fa fa-laptop instance-icon"></i>-->
      <img src="img/app-store-icons/hadoop.png" alt="Hadoop Stack" style="height: 50px;width: 100px;"/>
    </div>
    <div class="caption app-instance-runlist">
      <span class="app-item-heading"><strong>Hadoop</strong></span>
      <span class="app-item-runlist-block">Hadoop</span>
      <span class="app-item-runlist-block">HBase</span>
      <span class="app-item-runlist-block">Hive</span>
      <span class="app-item-runlist-block">Pig</span>
    </div>      
  </div>
</div>
</li>
<li class="col-xs-2"> 
  <div class="thumbnail  margin-bt-appItem">
    <div data-appFact-title="Mysql" class="app-item-container">
       <div class="instance-icon-container">
     <!--<i class="fa fa-laptop instance-icon"></i>-->
      <img src="img/app-store-icons/mysql.png" alt="Mysql Stack" style="height: 50px;width: 100px;"/>
    </div>
    <div class="caption app-instance-runlist">
      <span class="app-item-heading"><strong>Mysql</strong></span>
      <span class="app-item-runlist-block">Mysql Server</span>
    </div>      
  </div>
</div>
</li>
<li class="col-xs-2"> 
  <div class="thumbnail  margin-bt-appItem">
    <div data-appFact-title="Oracle" class="app-item-container">
       <div class="instance-icon-container">
     <!--<i class="fa fa-laptop instance-icon"></i>-->
      <img src="img/app-store-icons/oracle.png" alt="Oracle Stack" style="height: 50px;width: 100px;"/>
    </div>
    <div class="caption app-instance-runlist">
      <span class="app-item-heading"><strong>Oracle</strong></span>
      <span class="app-item-runlist-block">Oracle Server</span>
    </div>      
  </div>
</div>
</li>
<li class="col-xs-2"> 
  <div class="thumbnail  margin-bt-appItem">
    <div data-appFact-title="WSO2" class="app-item-container">
       <div class="instance-icon-container">
     <!--<i class="fa fa-laptop instance-icon"></i>-->
      <img src="img/app-store-icons/wso2.jpeg" alt="Oracle Stack" style="height: 50px;width: 100px;"/>
    </div>
    <div class="caption app-instance-runlist">
      <span class="app-item-heading"><strong>WSO2</strong></span>
      <span class="app-item-runlist-block">ESB</span>
      <span class="app-item-runlist-block">BAM</span>
      <span class="app-item-runlist-block">CEP</span>
      <span class="app-item-runlist-block">Active MQ</span>
    </div>      
  </div>
</div>
</li>
<li class="col-xs-2"> 
  <div class="thumbnail  margin-bt-appItem">
    <div data-appFact-title="Joomla" class="app-item-container">
       <div class="instance-icon-container">
     <!--<i class="fa fa-laptop instance-icon"></i>-->
      <img src="img/app-store-icons/joomla.png" alt="Joomla" style="height: 50px;width: 100px;"/>
    </div>
    <div class="caption app-instance-runlist">
      <span class="app-item-heading"><strong>Joomla</strong></span>
      
    </div>      
  </div>
</div>
</li>

<li class="col-xs-2"> 
  <div class="thumbnail  margin-bt-appItem">
    <div data-appFact-title="Drupal" class="app-item-container">
       <div class="instance-icon-container">
     <!--<i class="fa fa-laptop instance-icon"></i>-->
      <img src="img/app-store-icons/drupal.png" alt="Drupal" style="height: 50px;width: 100px;"/>
    </div>
    <div class="caption app-instance-runlist">
      <span class="app-item-heading"><strong>Drupal</strong></span>
     
    </div>      
  </div>
</div>
</li>
<li class="col-xs-2"> 
  <div class="thumbnail  margin-bt-appItem">
    <div data-appFact-title="Custom App" class="app-item-container">
       <div class="instance-icon-container">
     <!--<i class="fa fa-laptop instance-icon"></i>-->
      <img src="img/app-store-icons/customApp.png" alt="WordPress" style="height: auto;width: 40px;"/>
    </div>
    <div class="caption app-instance-runlist">
      <span class="app-item-heading"><strong>Custom App</strong></span>
     
    </div>      
  </div>
</div>
</li>

</ul>


</div>
<input type="button" value="Next" class="configureInstancesBtn action-button" name="Launch">

</div>

<div class="appStoreConfigurationArea"> 
 <div class="appStoreSelectedInstanceContainer">

 </div>
 <div class="selectedInstanceConfigurationContainer"></div>
  <div class="appStoreBtnContainer">
  <input type="button" value="Back" class="backappStoreBtn action-button" name="Launch">
  <a type="button" value="Save As Blueprint" href="#blueprintSaveModal" class="saveAsAppStoreBtn action-button" name="Launch" data-target="#blueprintSaveModal" data-toggle="modal" role="button">Save As Blueprint</a>
  <input type="button" value="Launch" class="launchInstancesBtn action-button" name="Launch">
  <a class="app_store_domain_settings" style="" href="#domainModal" data-target="#domainModal" data-toggle="modal" role="button" title="Domain"></a>
  </div> 
</div>
<div class="appStoreLaunchResultArea">
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="blueprintSaveModal" tabindex="-1" role="dialog" aria-labelledby="blueprintTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
        <h4 class="modal-title" id="blueprintTitle">Blueprint Name</h4>
      </div>
      <div class="modal-body">
         
          <% var blueprintsListObj = {};
        if(domains && domains.length) { 
             for(var i=0;i<domains.length;i++) {
             if(domains[i].blueprintsAppFactory && domains[i].blueprintsAppFactory.length) {

                for(var j=0;j<domains[i].blueprintsAppFactory.length;j++) {
                  if(domains[i].blueprintsAppFactory[j].groupId === userData.groupId) {
                      if(!(blueprintsListObj[domains[i].blueprintsAppFactory[j].blueprintName])) {
                          blueprintsListObj[domains[i].blueprintsAppFactory[j].blueprintName] = {};
                      }
                   }

                }
        }}} 
          blueprintsLists = Object.keys(blueprintsListObj);
        %>


        <form class="form-horizontal" role="form">
          
          <div class="form-group">
            <label for="bluePrintName" class="col-sm-4 control-label saveBluePrintInputlable">Blueprints :</label>
             <div class="col-sm-8">
              <select class="form-control saveBluePrintInputControl" id="bluePrintName">
                 <option>Choose Blueprint</option>
                 <% 
                    for(var i=0;i<blueprintsLists.length;i++) {
                  %>
                  <option value="<%=blueprintsLists[i]%>"><%=blueprintsLists[i]%></option>
                <%}%>
              </select>
             </div>
           </div>
           <div class="form-group">
            
            <label for="bluePrintName" class="col-sm-4 control-label saveBluePrintInputlable">Create New Blueprint :</label>
             <div class="col-sm-8">
               <input id="bluePrintNameText" type="text" disabled class="form-control saveBluePrintInputControl"/>&nbsp; <input type="checkbox" name="blueprintType" id="blueprintType"/>
             </div>
           </div>


           <div class="form-group">
            <label for="bluePrintDomainName" class="col-sm-4 control-label saveBluePrintInputlable">Product Groups :</label>
             <div class="col-sm-8">
              <select class="form-control saveBluePrintInputControl" id="bluePrintDomainName">
                 <option>Choose Product Group</option>
                 <% 
                    if(domains && domains.length) {
                     for(var i=0;i<domains.length;i++){
                  %>
                   <option value="<%=domains[i].domainName%>"><%=domains[i].domainName%></option>
                <%}}%>
              </select>
             </div>
           </div>
           <div class="form-group">
            
            <label for="createDomainNameText" class="col-sm-4 control-label saveBluePrintInputlable">Create New Product Group :</label>
             <div class="col-sm-8">   
               <input id="createDomainNameText" type="text" disabled class="form-control saveBluePrintInputControl"/>&nbsp; <input type="checkbox" name="domainType" id="domainType"/>
             </div>
           </div>

           <div class="form-group">
            
            <label for="expirationDays" class="col-sm-4 control-label saveBluePrintInputlable">Instance Validity <br/>(In Days) :</label>
             <div class="col-sm-8">   
                <select class="form-control saveBluePrintInputControl" id="expirationDays">
                   <% for(var i=0;i<365;i++){%>
                   <option value="<%=i%>"><%=i%></option>
                   <%}%>
                </select>
             </div>
           </div>


           <div class="form-group">
            
            <label for="serviceConsumersUsers" class="col-sm-4 control-label saveBluePrintInputlable">Users</label>
             <div class="col-sm-8">   
                <select class="form-control saveBluePrintInputControl" id="serviceConsumersUsers" multiple>
                   <% for(var i=0;i<serviceConsumers.length;i++){
                     if(userData.cn !== serviceConsumers[i].username) { 
                   %>
                   <option value="<%=serviceConsumers[i].username%>"><%=serviceConsumers[i].username%></option>
                   <%}}%>
                </select>
             </div>
           </div>
        

        </form>
      </div>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
        <button type="button" class="btn btn-primary save-blueprint-btn" data-dismiss="modal">Save</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script type="text/javascript" src="js/jq-plugins/jquery.scrollTo-min.js"></script>
    <script type="text/javascript" src="js/jq-plugins/ui.multiselect.js"></script>
 <script type="text/javascript">
 $('#domainType').change(function() {
        if($(this).is(":checked")) {
           $('#bluePrintDomainName').parent().parent().hide();
         
          $('#bluePrintDomainName').attr('disabled',true);
          $('#createDomainNameText').attr('disabled',false);
          
        } else {
          $('#bluePrintDomainName').parent().parent().show();
          $('#bluePrintDomainName').attr('disabled',false);
          $('#createDomainNameText').attr('disabled',true);
          
        }
  });

  $('#blueprintType').change(function() {
        if($(this).is(":checked")) {
            $('#bluePrintName').parent().parent().hide();
          $('#bluePrintName').attr('disabled',true);
          $('#bluePrintNameText').attr('disabled',false);
          
        } else {
           $('#bluePrintName').parent().parent().show();
          $('#bluePrintName').attr('disabled',false);
          $('#bluePrintNameText').attr('disabled',true);
          
        }
  });

  var selectedItemElem = []; 

 $('.save-blueprint-btn').click(function(e){
    var data = {};
     data.pid = <%=pid%>;
    var bluePrintName;
    if(!$('#blueprintType').is(":checked")) {
      bluePrintName =  $("#bluePrintName").val();
    } else {
      bluePrintName =  $('#bluePrintNameText').val();
    }

    data.bluePrintName = bluePrintName;
    var domainName;
    if(!$('#domainType').is(":checked")) {
      domainName =  $("#bluePrintDomainName").val();
    } else {
      domainName =  $('#createDomainNameText').val() + '';
    }
    data.expirationDays = $('#expirationDays').val();
    data.domainName = domainName;
    data.os = $('.osmenu').val();
    data.numberOfInstance = $('.numberOfInstance').val();
    data.instanceType = $('.sizeData').val();
    data.runlist = $('.app-recipes-list').val();
    data.selectedHtmlString = [].concat(selectedItemElem[0].html());
    data.serviceConsumers = $('#serviceConsumersUsers').val();
    data.templateName = selectedItemElem[0].find('.app-item-container').attr('data-appFact-title');
    console.log(data);
    $.post('/app_factory/saveBluePrint',data,function(data){
       console.log('posted');
       $('#blueprintSaveModal').modal('hide')
    });
    return false;
 }); 
 var $appItemContainer = $('.app-item-container');
  $appItemContainer.click(function(e){
      var $this = $(this);
       $appItemContainer.parent().removeClass('app-store-item-selected');
        $this.parent().addClass('app-store-item-selected');
    });
    $('.configureInstancesBtn').click(function(e){
      var $selectedItems = $('.app-store-item-selected');
      if(!$selectedItems.length) {
         alert('Please choose an instance');
         return;
      }
      var $ul = $('<ul class="thumbnails list-unstyled"></ul>');
       $('.selectedInstanceConfigurationContainer').empty();
       var firstElement = null;
       
     

      $selectedItems.each(function(index,item){
           var $clone = $(item).removeClass('app-store-item-selected').parent().clone(false,false)
           selectedItemElem.push($clone);
           if(!firstElement) {
             firstElement = $clone;
           }
           $ul.append($clone);
           $clone.click(function(e){
            var $this = $(this);
            if(!$this.data('containerAdded')) {
               var $form = $('<form role="form" class="appConfig"></form>');
               var $leftDiv =$('<div class="form-left-div"></div>');
               var $rightDiv =$('<div class="form-right-div"></div>');
                
               $form.append($leftDiv).append($rightDiv);;
               var $dropdownOS = $('<div class="form-group"><label for="osmenu">Choose Operating System</label><select class="osmenu"><option value="Ubuntu" selected>Ubuntu</option><option value="Cent OS">Cent OS</option><option value="Red Hat">Red Hat</option><option value="windows">Windows</option></select></div>');
             
              var $dropdown = $('<div class="form-group"><label for="numberOfInstance">Choose number of Instances</label><select class="numberOfInstance"><option value="1" selected>1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select></div>');
             
             var $dropdown1 = $('<div class="form-group"><label for="securityGroupData">Choose Security Group</label><select class="securityGroupData"><option value="Default-d4d" selected>Default-d4d</option><option value="VPC-1">VPC-1</option><option value="VPC-2">VPC-2</option><option value="Default-VPC">Default-VPC</option><option value="Create New">Create New</option></select></div>');


             var $dropdown2 = $('<div class="form-group"><label for="sizeData">Choose Instance Size</label><select class="sizeData"><option value="t1.micro" selected>t1.micro</option><option value="m1.small">m1.small</option><option value="m1.medium">m1.medium</option><option value="m1.large">m1.large</option><option value="m1.xlarge">m1.xlarge</option></select></div>'); 
             var $cookbooks = $('<select id="qwer" class="app-recipes-list" multiple="multiple"></select>');
               <% var str ='';
               var i=0;
               while(i < cookbooks.length) {
                str = str + '<option data-id=\"'+i+'\" value=\"'+cookbooks[i]+'\">'+cookbooks[i]+'</option>';
                i++;
               }
               %>
             $cookbooks.append('<%-str%>'); 
             $rightDiv.append($cookbooks);
              
              $leftDiv.append($dropdownOS);
              $leftDiv.append($dropdown);
              $leftDiv.append($dropdown1);
              $leftDiv.append($dropdown2);
               $('.selectedInstanceConfigurationContainer').append($form);

              $this.data('formEl',$form);
              $this.data('containerAdded',true);

            } 

            $('.appConfig').hide();
            var $form = $this.data('formEl');
            $form.show();
            var $recipesList = $form.find('.app-recipes-list');
            if(!$recipesList.data('isMultiSelectInitialized')) {
               $recipesList.multiselect();
               $recipesList.data('isMultiSelectInitialized',true);
            }
            $('.app-store-item-selected').removeClass('app-store-item-selected');
            $clone.children().addClass('app-store-item-selected');
           });
      });

      $('.appStoreSelectedInstanceContainer').empty().append($ul);
      $('.appStoreArea').hide();
      $('.appStoreConfigurationArea').show();
       firstElement.trigger('click');
    });

    $('.launchInstancesBtn').click(function(e){
     
       $('.app_store_domain_settings').trigger('click');
         $('.save-domain-btn').unbind("click").click(function(evt){
             var $appStoreLaunchResultArea = $('.appStoreLaunchResultArea').empty();      
             var $message = $('<div class="instance-result"><div class="alert alert-success fade in instanceSuccess" id="message" style="margin: 10px 25px;"><strong>Congratulations!</strong>&nbsp;Instances Launched Successfully.</div></div>');
             $appStoreLaunchResultArea.append($message);
              $('.appStoreArea').hide();
              $('.appStoreConfigurationArea').hide();
               $appStoreLaunchResultArea.show();
          });
    });
    $('.backappStoreBtn').click(function(e){
       $('.selectedInstanceConfigurationContainer').empty();
      $('.appStoreSelectedInstanceContainer').empty();
        $('.appStoreArea').show();
      $('.appStoreConfigurationArea').hide();
    });

      </script>