<%

function getAppFactoryCardHeadingHtml(role) {
  switch(role) {
      case 'LAMP':
      return '<span class="domain-roles-icon"><img src="img/app-store-icons/lamp.png" style="height: 30px;"/></span><span>LAMP</span>'
      case 'NodeJS':
      return '<span class="domain-roles-icon"><img src="img/app-store-icons/nodejs.png" style="height: 30px;"/></span><span>NodeJS</span>';   
      case 'Tomcat':
      return '<span class="domain-roles-icon"><img src="img/app-store-icons/tomcat.png" style="height: 30px;"/></span><span>Tomcat</span>';
      case 'Apache':
      return '<span class="domain-roles-icon"><img src="img/app-store-icons/apache.png" style="height: 30px;"/></span><span>Apache</span>';
      case 'JBoss':
       return '<span class="domain-roles-icon"><img src="img/app-store-icons/jboss.png" style="height: 30px;"/></span><span>JBoss</span>';
      case 'Hadoop':
       return '<span class="domain-roles-icon"><img src="img/app-store-icons/hadoop.png" style="height: 30px;"/></span><span>Hadoop</span>';
      case 'Mysql':
       return '<span class="domain-roles-icon"><img src="img/app-store-icons/mysql.png" style="height: 30px;"/></span><span>Mysql</span>';
      case 'Oracle':
       return '<span class="domain-roles-icon"><img src="img/app-store-icons/oracle.png" style="height: 30px;"/></span><span>Oracle</span>';
      case 'WSO2':
       return '<span class="domain-roles-icon"><img src="img/app-store-icons/wso2.png" style="height: 30px;"/></span><span>WSO2</span>';
      case 'Joomla':
       return '<span class="domain-roles-icon"><img src="img/app-store-icons/joomla.png" style="height: 30px;"/></span><span>Joomla</span>';
      case 'Drupal':
       return '<span class="domain-roles-icon"><img src="img/app-store-icons/drupal.png" style="height: 30px;"/></span><span>Drupal</span>';
      case 'Custom App':
       return '<span class="domain-roles-icon"><img src="img/app-store-icons/customApp.png" style="height: 25px;"/></span><span>Custom App</span>';

      default: 
       return '<span class="domain-roles-icon"><img src="img/galleryIcons/2.png" style="height: 25px;"/></span><span>'+role+'</span>';

     }
}


%>


<style type="text/css">
.appFactory_blueprintsContainer {
	padding-top: 30px;
}
.appFactBlueprintLaunchResultArea {
	display: none;
  text-align: center;
}
#bluePrintsList{
 width: 200px; 
}
.domainBluePrintsListContainer {
  display: none;
}
.selecttag {
  width: 300px !important;
}
.domainBluePrintsVersionListContainer {
  display: none;
}
.appFactBlueprintDetailsArea {
   
    display: none
}

.appFactEditBtnContainer {
 display: none;  
}
.appFactBlueprintListContainer {
  padding-left: 30px
}

.afbluprint-thumbnail {
border-radius: 5px;
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
    max-height: 181px;
    max-width: 125px;
    width: 41%;
}
.af-blueprint{
  /*background-image: linear-gradient(to bottom, #F9F9F9 0%, #EDEBF4 100%);*/
    background: white;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: block;
    line-height: 1.42857;
    margin-bottom: 20px;
    margin-left: 4px;
    margin-top: 3px;
    max-width: 125px;
    min-height: 150px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    transition: all 0.2s ease-in-out 0s;
}
.af-blueprint-caption {
  text-align: center;
}
.af-blueprint-heading {
  font-size: 12px;
    overflow: hidden;
    padding-bottom: 2px;
    padding-top: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.af-blueprint-detail-list {
    border-bottom: 1px solid;
    border-top: 1px solid;
    font-size: 10px;
    margin-bottom: 12px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}
.af-blueprint-detail-item {
  display: block;
}
.appFactBlueprintLaunchResultArea {
  display: none;
}
.cancelEditBlueprintBtn {
  display: none;
}
.saveEditedbluePrintBtn {
  display: none;
}
.afModalBtns {
  display: none;
}

</style>
<div>

<div class="panel-group afBlueprintList" id="accordionAFBlueprints">
     <% var isFirstPanelOpened = false;
        var expandClass = ''; 
      if(domains && domains.length) {
        for(var i=0;i<domains.length;i++) { 
          if(domains[i].blueprintsAppFactory && domains[i].blueprintsAppFactory.length) {
           var blueprintList = {}; 
            for(var j=0;j<domains[i].blueprintsAppFactory.length;j++) { 
               if((domains[i].blueprintsAppFactory[j].groupId === userData.groupId) && (domains[i].blueprintsAppFactory[j].serviceConsumers.indexOf(userData.cn) != -1) ) {
                  if(!(blueprintList[domains[i].blueprintsAppFactory[j].blueprintName])) {
                    blueprintList[domains[i].blueprintsAppFactory[j].blueprintName] = [];
                  }
                  blueprintList[domains[i].blueprintsAppFactory[j].blueprintName].push(domains[i].blueprintsAppFactory[j]);    
               }
             }
            var blueprintListKeys = Object.keys(blueprintList); 
            if(blueprintListKeys.length) {
     %>

   <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordionAFBlueprints" href="#<%=domains[i].domainName%>">
         <%=domains[i].domainName%>
        </a>
      </h4>
    </div>
    <% 
    if(!isFirstPanelOpened) {
      expandClass = 'in';
      isFirstPanelOpened = true;
    } else {
       expandClass = '';
    }%>
     <div id="<%=domains[i].domainName%>" class="panel-collapse collapse <%=expandClass%>">
      <div class="panel-body">
         <ul style="margin-top: 5px;" class="thumbnails list-unstyled">
          <%
            
             for(var j=0;j<blueprintListKeys.length;j++) { 
              var blueprints = blueprintList[blueprintListKeys[j]];  
          %>
           <li class="afbluprint-thumbnail">
            <div class="af-blueprint">
            <div id="<%=blueprints[0].blueprintName%>" class="af-blueprint-caption">
              <div  class="af-blueprint-heading" title="<%=blueprints[0].templateName%>"><%- getAppFactoryCardHeadingHtml(blueprints[0].templateName)%></div>
              <div class="af-blueprint-detail-list">
              <span class="af-blueprint-detail-item"> Name : <strong><%=blueprints[0].blueprintName%></strong> </span>
             
              <span class="af-blueprint-detail-item"> ver : <span class="">
               <select>
               <%
               for( var k=0;k<blueprints.length;k++) {
               %>
               <option value="<%=blueprints[k].version%>"><%=blueprints[k].version%></option>
               <%}%>
               </select>
              </span> </span>
              
              </div>
              <div style="font-size: 10px;">
                <%if(userData.permissions.execute) {%>
                <a data-pid="<%=domains[i].domainPid%>" data-domainName="<%=domains[i].domainName%>" data-blueprintName="<%=blueprints[0].blueprintName%>" class="appFactbluePrintLaunchBtn" href="javascript:void(0)">Launch</a>
                <%}%>  
                <%if(userData.permissions.read) {%>
                  <a data-pid="<%=domains[i].domainPid%>" data-domainName="<%=domains[i].domainName%>" data-blueprintName="<%=blueprints[0].blueprintName%>" class="appFactbluePrintDetailsBtn" href="javascript:void(0)">Details</a>
                <%}%>
              </div>
          
            </div>
          </div>
         </li>

          <%}%>
        </ul>
      </div>
    </div>

   </div>
   <%}}}}%>
  </div>


<div class="appFactBlueprintLaunchResultArea"></div>

<div id="afBlueprintDetailModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Blueprint Details</h4>
      </div>
      <div class="modal-body">
       
      </div>
      <div class="modal-footer">
         <%if(userData.permissions.execute) {%>
        <button type="button" class="btn btn-primary appFactModalbluePrintLaunchBtn afModalBtns">Launch</button>
        <%}%>
         <%if(userData.permissions.write) {%>
        <button type="button" class="btn btn-primary appFactModalbluePrintEditBtn afModalBtns">Edit</button>
        <button type="button" class="btn btn-primary saveEditedbluePrintBtn">Save</button>
        <button type="button" class="btn btn-primary cancelEditBlueprintBtn">Cancel</button>
        <%}%>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



</div>


<script type="text/javascript">

(function(){


  $('.appFactbluePrintDetailsBtn').click(function(e){
      
      var $this = $(this);
      var blueprintVersion = $(this).parent().parent().find('select').val();  
      var $modal = $('#afBlueprintDetailModal');
      var $modalBody =  $modal.find('.modal-body');
      $modalBody.empty().append('<img class="center-block" style="height:50px;width:50px;margin-top: 10%;margin-bottom: 10%;" src="img/loading.gif" />');
      $('.afModalBtns').hide(); 
      $('.saveEditedbluePrintBtn').hide();
      $('.cancelEditBlueprintBtn').hide();
      $modal.modal('show');


      $.get('/app_factory/bluePrint/details/?'+'pid='+$this.attr('data-pid')+'&domainName='+$this.attr('data-domainName')+'&blueprintName='+$this.attr('data-blueprintName')+'&ver='+blueprintVersion,function(data) {
        $modalBody.empty().append(data);
      });
  });

$('.appFactbluePrintLaunchBtn').click(function(e){
      
     var $this = $(this);
     var blueprintVersion = $(this).parent().parent().find('select').val();   
     $('.afBlueprintList').hide();
    
      var $appStoreLaunchResultArea = $('.appFactBlueprintLaunchResultArea').empty().append('<img class="center-block" style="height:50px;width:50px;margin-top: 10%;margin-bottom: 10%;" src="img/loading.gif" />').show();
      
      $.post('/app_factory/bluePrint/launch',{
        pid: $this.attr('data-pid'),
        domainName:$this.attr('data-domainName'),
        blueprintName:$this.attr('data-blueprintName'),
        ver: blueprintVersion
      },function(data){
        $appStoreLaunchResultArea.empty();
        for(var i=0;i<data.instanceIds.length;i++) {
          var $message = $('<div class="instance-result"><div class="alert alert-success fade in instanceSuccess" id="stackMessage" style="margin: 10px 25px;"><strong>Congratulations!</strong>&nbsp;Instance Launched Successfully.<br/><strong>Instance Id : </strong><span>'+data.instanceIds[i]+'</span></div></div>');
           $appStoreLaunchResultArea.append($message);
        }
         
         var $btn = $('<button class="btn btn-default">Launch More...</button>').click(function(e){
           $('.afBlueprintList').show();
           $('.appFactBlueprintLaunchResultArea').hide();
         });

        $appStoreLaunchResultArea.append($btn);
        
      }).error(function(){
         var $message = $('<div class="instance-result"><div class="alert alert-danger fade in instanceSuccess" id="stackMessage" style="margin: 10px 25px"><strong>Error!</strong>&nbsp;Unable to create Instance. Daily Quota Reached. </div></div>');  
             
        var $btn = $('<button class="btn btn-default">Launch More...</button>').click(function(e){
           $('.afBlueprintList').show();
           $('.appFactBlueprintLaunchResultArea').hide();
         });
          

            $appStoreLaunchResultArea.empty().append($message);
            $appStoreLaunchResultArea.append($btn);

      });     
    });
	
})();
</script>