<style type="text/css">
.appFactory_blueprintsContainer {
	padding-top: 30px;
}
.appFactBlueprintLaunchResultArea {
	display: none;
  text-align: center;
}
#bluePrintsList{
 width: 200px; 
}
.domainBluePrintsListContainer {
  display: none;
}
.selecttag {
  width: 300px !important;
}
.domainBluePrintsVersionListContainer {
  display: none;
}
.appFactBlueprintDetailsArea {
   
    display: none
}


</style>
<div class="appFactory_blueprintsContainer"> 
 

<form class="form-horizontal appFactBlueprintListContainer" role="form">
  
  <div class="form-group">
    <label for="bluePrintsList" class="col-sm-2 control-label">Product Group</label>
    <div class="col-sm-10">
      <select class="form-control selecttag" id="appFactoryDomainsList">
        <option value="Choose">Choose</option>
        <% if(domains && domains.length) {
        for(var i=0;i<domains.length;i++) { %>
        %>
        <option data-pid="<%=domains[i].domainPid%>" data-id="<%=i%>" value="<%=domains[i].domainName%>"><%=domains[i].domainName%></option>
        <%}}%>
      </select>
    </div>
  </div>


  
      <% if(domains && domains.length) {
        for(var i=0;i<domains.length;i++) { %>
      <div class="form-group domainBluePrintsListContainer" id="domainBluePrintsListContainer<%=i%>">
    <label for="bluePrintsList" class="col-sm-2 control-label">Blueprints</label>
    <div class="col-sm-10">
       <select class="form-control selecttag blueprintSelectTag" id="bluePrintsList<%=i%>">
         <option>Choose</option>
        
        <%  if(domains[i].blueprintsAppFactory && domains[i].blueprintsAppFactory.length) {

                for(var j=0;j<domains[i].blueprintsAppFactory.length;j++) {
                if((domains[i].blueprintsAppFactory[j].groupName === userData.ou) && (domains[i].blueprintsAppFactory[j].serviceConsumers.indexOf(userData.cn) != -1) ) {
            %>
            <option data-pid="<%=domains[i].domainPid%>" data-domainName="<%=domains[i].domainName%>" value="<%=domains[i].blueprintsAppFactory[j].blueprintName%>" data-bluePrintVersion="<%=domains[i].blueprintsAppFactory[j].version%>"><%=domains[i].blueprintsAppFactory[j].blueprintName%>-v<%=domains[i].blueprintsAppFactory[j].version%> </option>
           <%}}}%>
         </select>
         </div>
         </div>
         <%}}%>

   <!--
      <div class="form-group domainBluePrintsVersionListContainer" id="domainBluePrintsVersionListContainer">
    <label for="bluePrintsList" class="col-sm-2 control-label">Blueprints</label>
    <div class="col-sm-10">
       <select class="form-control selecttag" id="bluePrintsVersionList">
         <option>Choose</option>
         </select>
         </div>
         </div>
   -->

   <div class="appFactBlueprintDetailsArea">
   </div>
  
    
    
  


</form>


<script type="text/javascript">

(function(){

  $('#appFactoryDomainsList').change(function(e){
    //alert('hi');
     $this = $(this);
     if($this.val() === 'Choose') {
      $('.domainBluePrintsListContainer').hide();
      $('.blueprintSelectTag').prop('selectedIndex',0);
      $('.appFactBlueprintDetailsArea').hide();
      $('.appFactbluePrintLaunchBtn').attr('disabled',true);
       return;
     } 
     var $options = $this.find(':selected');
     var id = $options.attr('data-id');
     $('.domainBluePrintsListContainer').hide();
     $('#domainBluePrintsListContainer'+id).show(); 
  });

  $('.blueprintSelectTag').change(function(e){
      var $domainOptionTag = $('#appFactoryDomainsList').find(':selected');
      if($domainOptionTag.val() ==='Choose') {
        return;
      } 
      var id = $domainOptionTag.attr('data-id'); 

      var $selectedOptionTag = $('#bluePrintsList'+id).find(':selected');  
      if(!$selectedOptionTag.length) {
         return;  
      }
      if($selectedOptionTag.val() === 'Choose') {
        return;
      }
      var $appFactBlueprintDetailsArea = $('.appFactBlueprintDetailsArea').empty().append('<img class="center-block" style="height:50px;width:50px;margin-top: 10%;margin-bottom: 10%;" src="img/loading.gif" />').show();
       $.get('/app_factory/bluePrint/details/?'+'pid='+$selectedOptionTag.attr('data-pid')+'&domainName='+$selectedOptionTag.attr('data-domainName')+'&blueprintName='+$selectedOptionTag.val()+'&ver='+$selectedOptionTag.attr('data-bluePrintVersion'),function(data) {
        $appFactBlueprintDetailsArea.empty().append(data);
        $appFactBlueprintDetailsArea.show();
        $('.appFactbluePrintLaunchBtn').attr('disabled',false);
       });

  });

	
})();
</script>