<%

function getAppFactoryCardHeadingHtml(role) {
  switch(role) {
      case 'LAMP':
      return '<span class="domain-roles-icon"><img src="img/app-store-icons/lamp.png" style="height: 30px;"/></span><span>LAMP</span>'
      case 'NodeJS':
      return '<span class="domain-roles-icon"><img src="img/app-store-icons/nodejs.png" style="height: 30px;"/></span><span>NodeJS</span>';   
      case 'Tomcat':
      return '<span class="domain-roles-icon"><img src="img/app-store-icons/tomcat.png" style="height: 30px;"/></span><span>Tomcat</span>';
      case 'Apache':
      return '<span class="domain-roles-icon"><img src="img/app-store-icons/apache.png" style="height: 30px;"/></span><span>Apache</span>';
      case 'JBoss':
       return '<span class="domain-roles-icon"><img src="img/app-store-icons/jboss.png" style="height: 30px;"/></span><span>JBoss</span>';
      case 'Hadoop':
       return '<span class="domain-roles-icon"><img src="img/app-store-icons/hadoop.png" style="height: 30px;"/></span><span>Hadoop</span>';
      case 'Mysql':
       return '<span class="domain-roles-icon"><img src="img/app-store-icons/mysql.png" style="height: 30px;"/></span><span>Mysql</span>';
      case 'Oracle':
       return '<span class="domain-roles-icon"><img src="img/app-store-icons/oracle.png" style="height: 30px;"/></span><span>Oracle</span>';
      case 'WSO2':
       return '<span class="domain-roles-icon"><img src="img/app-store-icons/wso2.png" style="height: 30px;"/></span><span>WSO2</span>';
      case 'Joomla':
       return '<span class="domain-roles-icon"><img src="img/app-store-icons/joomla.png" style="height: 30px;"/></span><span>Joomla</span>';
      case 'Drupal':
       return '<span class="domain-roles-icon"><img src="img/app-store-icons/drupal.png" style="height: 30px;"/></span><span>Drupal</span>';
      case 'Custom App':
       return '<span class="domain-roles-icon"><img src="img/app-store-icons/customApp.png" style="height: 25px;"/></span><span>Custom App</span>';

      default: 
       return '<span class="domain-roles-icon"><img src="img/galleryIcons/2.png" style="height: 25px;"/></span><span>'+role+'</span>';

     }
}


%>


<style>
.bluePrintDetailsContainer {

}
.detailsArea {
  
}
.appFactoryDetailValue {
  border: 0 !important;
  box-shadow: none !important;
}
.editInput {
  display: none;
}

.appFactBlueprintDetailsbody {
    max-height: 320px;
    overflow-x: hidden;
    overflow-y: auto;
} 

.control-height{
  height: auto !important;
}

.appFactModalLaunchResultArea {
  display: none; 
}

</style> 

<div class="row">
  <div class="col-sm-3">
     
     <div class="af-blueprint">
            <div class="af-blueprint-caption">
              <div class="af-blueprint-heading" title="<%=blueprint.templateName%>"><%- getAppFactoryCardHeadingHtml(blueprint.templateName)%></div>
              <div class="af-blueprint-detail-list">
              <span class="af-blueprint-detail-item"> Name : <strong><%=blueprint.blueprintName%></strong> </span>
             
              <span class="af-blueprint-detail-item"> ver : <span class=""><%=blueprintVersion%></span> </span>
              
              </div>
              <div style="font-size: 10px;">
                
              </div>
          
            </div>
     </div>

  </div>
  <div class="col-sm-9">
    <div class="panel panel-default appFactBlueprintDetailsConatiner">
  <div class="panel-heading">Configurations :  &nbsp; </div>
  <div class="panel-body appFactBlueprintDetailsbody">
   <div class="bluePrintDetailsContainer">


<form class="form-horizontal detailsArea" role="form" id="afBpDetailsArea">
     <!--
     <div class="form-group">
      <label for="" class="col-sm-5 control-label">OS</label>
      <div class="col-sm-7">
        <span type="text" class="form-control appFactoryDetailValue" ><%=blueprint.os%></span>
        <select class="form-control editInput" name="os">
          <%
           var optionsOsValue = ['Ubuntu','Cent OS','Red Hat','Windows'];
           for(var i=0;i<optionsOsValue.length;i++) {
            var selected = '';
            if(optionsOsValue[i]===blueprint.os) {
              selected = 'selected'
            }
          %>
          <option value="<%=optionsOsValue[i]%>" <%=selected%>><%=optionsOsValue[i]%></option>
          <%}%>
         

        </select>
       </div>  
     </div>
    -->
    <div class="form-group">
      <label for="" class="col-sm-5 control-label">AWS Region</label>
      <div class="col-sm-7">
        <span type="text" class="form-control" style="border: 0 !important;box-shadow: none !important;" ><%=blueprint.awsRegion%></span>
        <input type="hidden" name="awsRegion" value="<%=blueprint.awsRegion%>">
       </div>  
    </div>

    <div class="form-group">
      <label for="" class="col-sm-5 control-label">Security Group</label>
      <div class="col-sm-7">
        <span type="text" class="form-control appFactoryDetailValue" ><%=blueprint.awsSecurityGroup.name%></span>
        <select class="form-control editInput" name="awsSecurityGroup">
          <%
           
           for(var i=0;i<awsSecurityGroups.length;i++) {
            
          %>
          <option value="<%='{\"id\":\"'+awsSecurityGroups[i].GroupId+'\",\"name\":\"'+awsSecurityGroups[i].GroupName+'\"}'%>" ><%=awsSecurityGroups[i].GroupName%></option>
          <%}%>
         

        </select>
       </div>  
     </div>

     <div class="form-group">
      <label for="stackNameInput" class="col-sm-5 control-label">Instance Type</label>
      <div class="col-sm-7">
        <span type="text" class="form-control appFactoryDetailValue" ><%=blueprint.instanceType%></span>
        <select class="form-control editInput" name="instanceType">
          <%
           var optionsValue = ['t1.micro','m1.small','m1.medium','m1.large','m1.xlarge'];
           for(var i=0;i<optionsValue.length;i++) {
            var selected = '';
            if(optionsValue[i]===blueprint.instanceType) {
              selected = 'selected'
            }
          %>
          <option value="<%=optionsValue[i]%>" <%=selected%>><%=optionsValue[i]%></option>
          <%}%>
          
        </select>
       </div>  
     </div>

     <div class="form-group">
      <label for="stackNameInput" class="col-sm-5 control-label">Number Of Instances</label>
      <div class="col-sm-7">
        <span type="text" class="form-control appFactoryDetailValue" ><%=blueprint.numberOfInstance%></span>
        <select class="form-control editInput" name="numberOfInstance">
         <%
           var optionsNoOFinstanceValue = ['1','2','3','4','5','6','7','8','9','10'];
           for(var i=0;i<optionsNoOFinstanceValue.length;i++) {
            var selected = '';
            if(optionsNoOFinstanceValue[i]==blueprint.numberOfInstance) {
              selected = 'selected'
            }
          %>
          <option value="<%=optionsNoOFinstanceValue[i]%>" <%=selected%>><%=optionsNoOFinstanceValue[i]%></option>
          <%}%>

        </select>
       </div>  
     </div>
     
     <div class="form-group">
      <label for="stackNameInput" class="col-sm-5 control-label">Instance Validity</label>
      <div class="col-sm-7">
        <span type="text" class="form-control appFactoryDetailValue" ><%=blueprint.expirationDays%> Days</span>
        <select class="form-control editInput" id="" name="expirationDays">
                   <% for(var i=0;i<365;i++){
                   var selected ='';
                   if(i==blueprint.expirationDays) {
                    selected = 'selected'
                   }%>
                   <option value="<%=i%>" <%=selected%>><%=i%></option>
                   <%}%>
        </select>
       </div>  
     </div>


     <div class="form-group">
      <label for="stackNameInput" class="col-sm-5 control-label">Runlist</label>
      <div class="col-sm-7">
        <ul class="form-control appFactoryDetailValue control-height">
         <%
          if(blueprint.runlist && blueprint.runlist.length) {
         for(var i=0;i<blueprint.runlist.length;i++) {
         %>
         <li style="list-style: none outside none"><%=blueprint.runlist[i]%></li>
         <%}}%>
       </ul>
       
       <select class="form-control editInput" id="" name="runlist" multiple>
                   <%
                    if(!(blueprint.runlist && blueprint.runlist.length)) {
                      blueprint.runlist = []; 
                    }   
                   for(var i=1;i<cookbooks.length;i++){ 
                      var selected = '';
                      if(blueprint.runlist.indexOf(cookbooks[i]) !== -1) {
                          selected = 'selected';
                      }
                   %>
                   <option value="<%=cookbooks[i]%>" <%=selected%>><%=cookbooks[i]%></option>
                   <%}%>
        </select>  


       </div>  
     </div>
     
     <div class="form-group">
      <label for="stackNameInput" class="col-sm-5 control-label">Service Consumers</label>
      <div class="col-sm-7">
        <ul class="form-control appFactoryDetailValue control-height">
         <%
          if(blueprint.serviceConsumers && blueprint.serviceConsumers.length) {
         for(var i=0;i<blueprint.serviceConsumers.length;i++) {
          if(userData.cn !== blueprint.serviceConsumers[i]) { 
         %>
         <li style="list-style: none outside none"><%=blueprint.serviceConsumers[i]%></li>
         <%}}}%>
       </ul>
       
       <select class="form-control editInput" id="" name="serviceConsumers" multiple>
                   <%
                    if(!(blueprint.serviceConsumers && blueprint.serviceConsumers.length)) {
                      blueprint.serviceConsumers = []; 
                    }   
                   for(var i=1;i<serviceConsumers.length;i++){ 
                      var selected = '';
                      if(blueprint.serviceConsumers.indexOf(serviceConsumers[i].username) !== -1) {
                          selected = 'selected';
                      }
                       if(userData.cn !== serviceConsumers[i].username) { 
                   %>
                   <option value="<%=serviceConsumers[i].username%>" <%=selected%>><%=serviceConsumers[i].username%></option>
                   <%}}%>
        </select>  


       </div>  
     </div>



<div class="form-group">
    <div class="col-sm-offset-2 col-sm-7">
      
    
    </div>
  </div>
</form>
  
</div>
</div>
  </div>
  <div class="appFactModalLaunchResultArea"></div>

  </div>
</div>



<script type="text/javascript">
(function(){
   
   

  $('.appFactModalbluePrintEditBtn').unbind("click").click(function(e){
  
   $('.appFactBlueprintDetailsConatiner').show();
   $('.appFactModalLaunchResultArea').hide();
  $('.appFactoryDetailValue').hide(); 
  $('.editInput').show();
  $('.appFactModalbluePrintLaunchBtn').hide();
  $('.cancelEditBlueprintBtn').show();
  $('.saveEditedbluePrintBtn').show();
  $(this).hide();
});

$('.cancelEditBlueprintBtn').unbind("click").click(function(){
 
  $('.editInput').hide();
  $('.appFactoryDetailValue').show(); 
  $('.appFactModalbluePrintLaunchBtn').show();
  $('.cancelEditBlueprintBtn').hide();
  $('.saveEditedbluePrintBtn').hide();
  $('.appFactModalbluePrintEditBtn').show();
})

$('.appFactModalbluePrintLaunchBtn').unbind("click").click(function(e){
      
         
     $('.appFactBlueprintDetailsConatiner').hide();
      var $appStoreLaunchResultArea = $('.appFactModalLaunchResultArea').empty().append('<img class="center-block" style="height:50px;width:50px;margin-top: 10%;margin-bottom: 10%;" src="img/loading.gif" />').show();
 
      $.post('/app_factory/bluePrint/launch',{
        pid:'<%=pid%>',
        domainName:'<%=domainName%>',
        blueprintName:'<%=blueprintName%>',
        ver:'<%=blueprintVersion%>'
      },function(data){
        $appStoreLaunchResultArea.empty();
        for(var i=0;i<data.instanceIds.length;i++) {
          var $message = $('<div class="instance-result"><div class="alert alert-success fade in instanceSuccess" id="stackMessage" style="margin: 10px 25px;"><strong>Congratulations!</strong>&nbsp;Instance Launched Successfully.<br/><strong>Instance Id : </strong><span>'+data.instanceIds[i]+'</span></div></div>');
           $appStoreLaunchResultArea.append($message);
        }
         
         var $btn = $('<button class="btn btn-default">Launch More...</button>').click(function(e){
           $('.appFactBlueprintListContainer').show();
           $('.appFactBlueprintLaunchResultArea').hide();
         });


   
        // $appStoreLaunchResultArea.append($btn);
        
      }).error(function(){
         var $message = $('<div class="instance-result"><div class="alert alert-danger fade in instanceSuccess" id="stackMessage" style="margin: 10px 25px"><strong>Error!</strong>&nbsp;Unable to create Instance. Daily Quota Reached. </div></div>');  
             
        var $btn = $('<button class="btn btn-default">Launch More...</button>').click(function(e){
           $('.appFactBlueprintListContainer').show();
           $('.appFactBlueprintLaunchResultArea').hide();
         });
          

            $appStoreLaunchResultArea.empty().append($message);
          //  $appStoreLaunchResultArea.append($btn);

      });     
    });

  function createReqObj(formData) {
   
     var reqBody = {};
     for(var i=0;i<formData.length;i++) {
        var obj = formData[i];
       
        if(reqBody[obj.name]) {
          reqBody[obj.name] = [].concat(reqBody[obj.name],obj.value);
        } else {
          reqBody[obj.name] = obj.value; 
        }
     }
     return reqBody;

  }


  $('.saveEditedbluePrintBtn').unbind("click").click(function(e){
    var reqBody = createReqObj($('#afBpDetailsArea').serializeArray());
    reqBody.awsSecurityGroup = JSON.parse(reqBody.awsSecurityGroup);
    if(reqBody.runlist) {
      reqBody.runlist = [].concat(reqBody.runlist);
    } else {
      reqBody.runlist = [];
    }
    if(reqBody.serviceConsumers) {
      reqBody.serviceConsumers = [].concat(reqBody.serviceConsumers);
    } else {
      reqBody.serviceConsumers = [];
    }
    reqBody.pid = '<%=pid%>';
    reqBody.domainName = '<%=domainName%>';
    reqBody.blueprintName = '<%=blueprintName%>';
    reqBody.templateName = '<%=blueprint.templateName%>';
    reqBody.selectedHtmlString = '';
    console.log(reqBody);

    $.post('/app_factory/saveBluePrint',reqBody,function(data){
       
       var $blueprintDiv = $('#'+reqBody.domainName).find('#'+reqBody.blueprintName);
       console.log($blueprintDiv.length);
       var $blueprintVersionList = $blueprintDiv.find('select');
       console.log($blueprintVersionList.length);  
       var $newblueprintOptionTag = $('<option value="'+data+'">'+data+'</option>');
      $blueprintVersionList.append($newblueprintOptionTag);
      $newblueprintOptionTag.attr('selected',true);
      $blueprintDiv.find('.appFactbluePrintDetailsBtn').trigger('click'); 

    }).error(function(){
      alert('Unable to update blueprint.');
    });

  });
  $('.afModalBtns').show();  
})();

</script>
