<style type="text/css">
.cloudFormation_blueprintsContainer {
	padding-top: 30px;
}
.cloudFormationBlueprintLaunchResultArea {
	display: none;
  text-align: center;
}
#bluePrintsListCloudFromation{
  width: 200px;
}
.cloudFormationdomainBluePrintsListContainer {
  display: none;
}
.selecttag-CF {
  width: 300px !important;
}
.cfBlueprintDetailsArea {
   
    display: none
}
.cfBlueprintDetailsbody {
   max-height: 230px;
    overflow-x: hidden;
    overflow-y: auto;
}

</style>
<div class="cloudFormation_blueprintsContainer"> 
 
<form class="form-horizontal cloudFormationBlueprintListContainer" role="form">
  
  <div class="form-group">
    <label for="cloudFormationDomainsList" class="col-sm-2 control-label">Product Group</label>
    <div class="col-sm-10">
      <select class="form-control selecttag-CF" id="cloudFormationDomainsList">
        <option value="Choose">Choose</option>
        <% if(domains && domains.length) {
        for(var i=0;i<domains.length;i++) { %>
        %>
        <option data-pid="<%=domains[i].domainPid%>" data-id="<%=i%>" value="<%=domains[i].domainName%>"><%=domains[i].domainName%></option>
        <%}}%>
      </select>
    </div>
  </div>


  
      <% if(domains && domains.length) {
        for(var i=0;i<domains.length;i++) { %>
      <div class="form-group cloudFormationdomainBluePrintsListContainer" id="cfDomainBluePrintsListContainer<%=i%>">
    <label for="bluePrintsListCloudFromation<%=i%>" class="col-sm-2 control-label">Blueprints</label>
    <div class="col-sm-10">
       <select class="form-control selecttag-CF" id="bluePrintsListCloudFromation<%=i%>">
         <option>Choose</option>
        
        <%  if(domains[i].bluePrintsCloudFormation && domains[i].bluePrintsCloudFormation.length) {

                for(var j=0;j<domains[i].bluePrintsCloudFormation.length;j++) {
                if((domains[i].bluePrintsCloudFormation[j].groupName === userData.ou) && (domains[i].bluePrintsCloudFormation[j].serviceConsumers.indexOf(userData.cn) != -1) )  {
            %>
            <option data-pid="<%=domains[i].domainPid%>" data-domainName="<%=domains[i].domainName%>" value="<%=domains[i].bluePrintsCloudFormation[j].blueprintName%>"  data-bluePrintVersion="<%=domains[i].bluePrintsCloudFormation[j].version%>"><%=domains[i].bluePrintsCloudFormation[j].blueprintName%>-v<%=domains[i].bluePrintsCloudFormation[j].version%></option>
           <%}}}%>
         </select>
         </div>
         </div>
         <%}}%>


          <div class="panel panel-default cfBlueprintDetailsArea">
            <div class="panel-heading">Blueprint Details</div>
            <div class="panel-body cfBlueprintDetailsbody">
               Nothing to display
           </div>
         </div>
    
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default cloudFormationBluePrintLaunchBtn" disabled>Launch</button>
    </div>
  </div>
</form>

<div class="cloudFormationBlueprintLaunchResultArea"></div>

</div>

<script type="text/javascript">

(function(){

  $('#cloudFormationDomainsList').change(function(e){
    //alert('hi');
     $this = $(this);
     if($this.val() === 'Choose') {
      $('.cloudFormationdomainBluePrintsListContainer').hide();
      $('.selecttag-CF').prop('selectedIndex',0);
      $('.cfBlueprintDetailsbody').parent().hide();
      $('.cloudFormationBluePrintLaunchBtn').attr('disabled',true);
       return;
     } 
     var $options = $this.find(':selected');
     var id = $options.attr('data-id');
     $('.cloudFormationdomainBluePrintsListContainer').hide();
     $('#cfDomainBluePrintsListContainer'+id).show(); 
  });
 

 $('.selecttag-CF').change(function(e){
      var $domainOptionTag = $('#cloudFormationDomainsList').find(':selected');
      if($domainOptionTag.val() ==='Choose') {
        return;
      } 
      var id = $domainOptionTag.attr('data-id'); 

      var $selectedOptionTag = $('#bluePrintsListCloudFromation'+id).find(':selected');  
      if(!$selectedOptionTag.length) {
         return;  
      }
      if($selectedOptionTag.val() === 'Choose') {
        return;
      }
      var $appFactBlueprintDetailsArea = $('.cfBlueprintDetailsbody').empty().append('<img class="center-block" style="height:50px;width:50px;margin-top: 10%;margin-bottom: 10%;" src="img/loading.gif" />').show();
       $.get('/aws/cloudformation/bluePrint/details/?'+'pid='+$selectedOptionTag.attr('data-pid')+'&domainName='+$selectedOptionTag.attr('data-domainName')+'&blueprintName='+$selectedOptionTag.val()+'&ver='+$selectedOptionTag.attr('data-bluePrintVersion'),function(data) {
        $appFactBlueprintDetailsArea.empty().append(data);
        $appFactBlueprintDetailsArea.parent().show();
        $('.cloudFormationBluePrintLaunchBtn').attr('disabled',false);
       });
 });


	$('.cloudFormationBluePrintLaunchBtn').click(function(e){


      var $domainOptionTag = $('#cloudFormationDomainsList').find(':selected');
      if($domainOptionTag.val() ==='Choose') {
        return;
      } 

       var id = $domainOptionTag.attr('data-id'); 
      
      var $selectedOptionTag = $('#bluePrintsListCloudFromation'+id).find(':selected');  
      if(!$selectedOptionTag.length) {
         return;  
      }
  
      if($selectedOptionTag.val() === 'Choose') {
        return;
      }


      $('.cloudFormationBlueprintListContainer').hide();
      var $appStoreLaunchResultArea = $('.cloudFormationBlueprintLaunchResultArea').empty().append('<img class="center-block" style="height:50px;width:50px;margin-top: 10%;margin-bottom: 10%;" src="img/loading.gif" />').show();
      

     
     
      $.post('/aws/cloudformation/blueprints/launch',{
        pid:$selectedOptionTag.attr('data-pid'),
        domainName:$selectedOptionTag.attr('data-domainName'),
        blueprintName:$selectedOptionTag.val(),
        version:$selectedOptionTag.attr('data-bluePrintVersion'),
        
      },function(data){
        var $message = $('<div class="instance-result"><div class="alert alert-success fade in instanceSuccess" id="stackMessage" style="margin: 10px 25px;"><strong>Congratulations!</strong>&nbsp;Stack Created Successfully.<br/><strong>Stack Id : </strong><span>'+data+'</span></div></div>'); 
        
        var $btn = $('<button class="btn btn-default">Launch More...</button>').click(function(e){
           $('.cloudFormationBlueprintListContainer').show();
           $('.cloudFormationBlueprintLaunchResultArea').hide();
         });
    

        $appStoreLaunchResultArea.empty().append($message);
        $appStoreLaunchResultArea.append($btn);


      }).error(function(){
         var $message = $('<div class="instance-result"><div class="alert alert-danger fade in instanceSuccess" id="stackMessage" style="margin: 10px 25px"><strong>Error!</strong>&nbsp;Unable to create stack.</div></div>');  
        
        var $btn = $('<button class="btn btn-default">Launch More...</button>').click(function(e){
           $('.cloudFormationBlueprintListContainer').show();
           $('.cloudFormationBlueprintLaunchResultArea').hide();
         });

            $appStoreLaunchResultArea.empty().append($message);
             $appStoreLaunchResultArea.append($btn);


      });    
 
    });
   

})();
</script>