<style type="text/css">

.dockerSelectedItemsContainer {
	margin-top:10px;

}
.selectedItemsThumbnailArea {
	margin-left: 3%;
	height: 150px;
}
.docker-selectedTemplates-container {
	margin-top: 15px;
}
.docker-selectedItemOptions {
	display: none;
}
.docker-selectedItemOptionsArea {
	height: 255px;
    margin-left: 3%;
    margin-top: 2%;
}

        .docker-selectedTemplate {
            background-image: linear-gradient(to bottom, #F9F9F9 0%, #EDEBF4 100%);
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    display: block;
    line-height: 1.42857;
    margin-bottom: 4px;
     margin-left: 4px;
    margin-top: 3px;
    max-width: 100px;
    min-height: 110px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    transition: all 0.2s ease-in-out 0s;
    cursor: pointer;

        }

        .docker-templateInfo-caption {
            text-align: center;
        }
        .docker-selectedTemplate-thumbnail {
    float: left;
    margin-bottom: 5px;
    margin-right: 5px;
    max-height: 145px;
    max-width: 109px;
    width: 41%;
    margin-left: 2%;
    border-radius: 5px 5px 5px 5px;
        }

        .docker-sel-active {
            background-color: green;
        }

        .docker-info-list {
          border-top: 1px solid;
          text-align: center;
          font-size: 10px; 
          padding-top: 10px; 
        } 
        .docker-template-heading {
           font-size: 12px;
    overflow: hidden;
    padding-bottom: 2px;
    padding-top: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
            }


.glowBox  {
  background: none repeat scroll 0 0 #FFFFFF;
     box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
     border-radius: 4px;
}
.docker-selectedItemOptionsRight {
	padding-top: 25px;
}
.docker-recipes-list {
	height:200px !important;
}
.dockerConfigureBtnConatiner {
	text-align: center;
 margin-top: 20px;
}
</style>
<link type="text/css" href="css/ui.multiselect.css" rel="stylesheet" />
<div class="dockerSelectedItemsContainer">
	<div class="selectedItemsThumbnailArea col-md-11 glowBox">
	 <ul class="thumbnails list-unstyled docker-selectedTemplates-container">
     <%for(var i=0;i<selectedItems.length;i++) { %>
         <li class="docker-selectedTemplate-thumbnail">
         	 <div class="docker-selectedTemplate" data-dockerId = "<%=selectedItems[i].dockerId%>">
              <div class="docker-templateInfo-caption"> 
              	 <div class="docker-template-heading" title="<%=selectedItems[i].title%>"><%=selectedItems[i].title%></div>
              	 <div class="docker-info-list">
              	 	<p class="docker-info-item"><%=selectedItems[i].productName%></p>
              	 	<p class="docker-info-item"><%=selectedItems[i].stack%></p>
              	 	<p class="docker-info-item"><%=selectedItems[i].version%></p>
              	 </div>
              </div>
            </div>
         </li>
     <%}%>
	 </ul>
	</div>

	<div class="docker-selectedItemOptionsArea col-md-11 glowBox">
		  <%for(var i=0;i<selectedItems.length;i++) { %>
		<div id="<%=(selectedItems[i].dockerId+'options')%>" class="docker-selectedItemOptions" data-dockerId ="<%=(selectedItems[i].dockerId)%>" >
        <div class="docker-selectedItemOptionsLeft col-md-6">

    	  <form class="appConfig" role="form" style="display: block;">
      		 <div class="form-group">
    			<label for="">IP Address</label>
    			<input type="text" class="form-control" placeholder="Enter IP Address">
  			</div>
      	 	<div class="form-group">
    			<label for="">Number of Containers</label>
    			<input type="text" class="form-control" placeholder="Number of Containers">
  			</div>
  	 	</form>

   		</div>
	
    <div class="docker-selectedItemOptionsRight col-md-6">
         <select id="<%=(selectedItems[i].dockerId+'recipes')%>" class="docker-recipes-list col-md-12" multiple="multiple"> 
    	  <%for(var j =0; j< cookbooks.length; j++){%>
     	  	<option data-id="<%=j%>" value='<%=cookbooks[j]%>'><%=cookbooks[j]%></option>
    	  <%}%>
      	 </select>
    </div>
   </div>
   <%}%>

  </div>

  <div class="dockerConfigureBtnConatiner col-md-12">
    <input type="button" name="next" class="btn btn-primary dockerBackBtn" value="Back"/>
    <input type="button" name="next" class="btn btn-primary lauchDockerBtn" value="Next"/> 
  </div>	


</div>
<script type="text/javascript" src="js/jq-plugins/jquery.scrollTo-min.js"></script>
<script type="text/javascript" src="js/jq-plugins/ui.multiselect.js"></script>
<script type="text/javascript">

//$('.docker-recipes-list').multiselect();
  
$('.docker-selectedTemplate').click(function(e){
    var $this = $(this);
    $('.docker-selectedTemplate').parent().removeClass('docker-sel-active');
    $this.parent().addClass('docker-sel-active');
    var dockerId = $this.attr('data-dockerId');
    $('.docker-selectedItemOptions').hide();
     if(!$this.data('isMultiSelectInitialized')) {
     /*$('#'+dockerId+'options').show({
          duration:500,
          complete:function() {
            var $recipeList = $('#'+dockerId+'recipes');
            $recipeList.multiselect();
            $this.data('isMultiSelectInitialized',true);      
          }
        });*/
        $('#'+dockerId+'options').show();
        var $recipeList = $('#'+dockerId+'recipes');
            $recipeList.multiselect();
            $this.data('isMultiSelectInitialized',true); 
    } else {
    	$('#'+dockerId+'options').show();
    }
}).filter(':first').trigger('click');

$('.dockerBackBtn').click(function(e){
   
    $('.dockerConfigureTemplateContainer').hide()
    $('.dockerGalleryContainer').show();
});

</script>