<style>

.domain-role-thumbnail {
border-radius: 5px;
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
    max-height: 181px;
    max-width: 125px;
    width: 41%;
}
.domain-roles {
  /*background-image: linear-gradient(to bottom, #F9F9F9 0%, #EDEBF4 100%);*/
    background: white;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: block;
    line-height: 1.42857;
    margin-bottom: 20px;
    margin-left: 4px;
    margin-top: 3px;
    max-width: 125px;
    min-height: 181px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    transition: all 0.2s ease-in-out 0s;
}
.domain-roles-caption {
  text-align: center;
}
.domain-roles-heading {
  font-size: 12px;
    overflow: hidden;
    padding-bottom: 2px;
    padding-top: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.instance-inactive {
  color:red;
}
.instance-active {
  color:green;
}
.instance-details-list {
  border-top: 1px solid;
    font-size: 10px;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
}
.instance-details-item {
  display: block;
}
.instance-bootstrap-list{
  border-top: 1px solid;
    font-size: 10px;
    padding-top: 10px;
    text-align: center;
}

.graph-icon {
  height: 16px ;
  width: 16px;
  margin-bottom: 3px;
  float:right;
}
.domain-roles-icon {
  display: block;
}
.instanceActionControl {
  margin-left: 5px;
  cursor: pointer;
}
</style>


<% if(!error) {  
 
 function getRolesLink(role,domainName,ip) {
  
  switch(role) {
      case 'JIRA':
      return '<a href="http://'+ip+':8080/">'+role+'</a>'
      case 'Crowd':
      return '<a href="http://'+ip+':8090/">'+role+'</a>';   
      case 'Confluence':
      return '<a href="http://'+ip+':8090/">'+role+'</a>';
      case 'Jenkins':
      return '<a href="http://'+ip+':8080/">'+role+'</a>';
      case 'Nexus':
       return '<a href="http://'+ip+':8081/">'+role+'</a>';
      case 'Rundeck':
       return '<a href="http://'+ip+':8090/">'+role+'</a>';
      case 'Nagios':
       return '<a href="http://'+ip+'/">'+role+'</a>';
      case 'Selenium':
       return '<a href="http://'+ip+':4444/">'+role+'</a>';
      default: 
       return '<span>'+role+'</span>';

     }

}

function getCardHeadingHtml(role) {
  switch(role) {
      case 'Planning':
      return '<span class="domain-roles-icon"><img src="img/galleryIcons/1.png"/></span><span>Planning</span>'
      case 'Build':
      return '<span class="domain-roles-icon"><img src="img/galleryIcons/2.png"/></span><span>Build</span>';   
      case 'Code Repository':
      return '<span class="domain-roles-icon"><img src="img/galleryIcons/3.png"/></span><span>Code Repository</span>';
      case 'Config Management':
      return '<span class="domain-roles-icon"><img src="img/galleryIcons/4.png"/></span><span>Config Management</span>';
      case 'Monitoring':
       return '<span class="domain-roles-icon"><img src="img/galleryIcons/5.png"/></span><span>Monitoring</span>';
      case 'Test Management And Automation Suite':
       return '<span class="domain-roles-icon"><img src="img/galleryIcons/6.png"/></span><span>Test Management And Automation Suite</span>';
      case 'Security And Service Provisioning':
       return '<span class="domain-roles-icon"><img src="img/galleryIcons/7.png"/></span><span>Security And Service Provisioning</span>';
      case 'Custom Role':
       return '<span class="domain-roles-icon"><img src="img/galleryIcons/8.png"/></span><span>Custom Role</span>';
      default: 
       return '<span class="domain-roles-icon"><img src="img/galleryIcons/2.png"/></span><span>'+role+'</span>';

     }
}

function getAppFactoryCardHeadingHtml(role) {
  switch(role) {
      case 'LAMP':
      return '<span class="domain-roles-icon"><img src="img/app-store-icons/lamp.png" style="height: 30px;"/></span><span>LAMP</span>'
      case 'NodeJS':
      return '<span class="domain-roles-icon"><img src="img/app-store-icons/nodejs.png" style="height: 30px;"/></span><span>NodeJS</span>';   
      case 'Tomcat':
      return '<span class="domain-roles-icon"><img src="img/app-store-icons/tomcat.png" style="height: 30px;"/></span><span>Tomcat</span>';
      case 'Apache':
      return '<span class="domain-roles-icon"><img src="img/app-store-icons/apache.png" style="height: 30px;"/></span><span>Apache</span>';
      case 'JBoss':
       return '<span class="domain-roles-icon"><img src="img/app-store-icons/jboss.png" style="height: 30px;"/></span><span>JBoss</span>';
      case 'Hadoop':
       return '<span class="domain-roles-icon"><img src="img/app-store-icons/hadoop.png" style="height: 30px;"/></span><span>Hadoop</span>';
      case 'Mysql':
       return '<span class="domain-roles-icon"><img src="img/app-store-icons/mysql.png" style="height: 30px;"/></span><span>Mysql</span>';
      case 'Oracle':
       return '<span class="domain-roles-icon"><img src="img/app-store-icons/oracle.png" style="height: 30px;"/></span><span>Oracle</span>';
      case 'WSO2':
       return '<span class="domain-roles-icon"><img src="img/app-store-icons/wso2.png" style="height: 30px;"/></span><span>WSO2</span>';
      case 'Joomla':
       return '<span class="domain-roles-icon"><img src="img/app-store-icons/joomla.png" style="height: 30px;"/></span><span>Joomla</span>';
      case 'Drupal':
       return '<span class="domain-roles-icon"><img src="img/app-store-icons/drupal.png" style="height: 30px;"/></span><span>Drupal</span>';
      case 'Custom App':
       return '<span class="domain-roles-icon"><img src="img/app-store-icons/customApp.png" style="height: 25px;"/></span><span>Custom App</span>';

      default: 
       return '<span class="domain-roles-icon"><img src="img/galleryIcons/2.png" style="height: 25px;"/></span><span>'+role+'</span>';

     }
}

function getCFCardHeadingHtml(role) {
  switch(role) {
      case 'LAMP':
      return '<span class="domain-roles-icon"><img src="img/cf-icons/lamp.png" style="height: 30px;"/></span><span>LAMP</span>';
      case 'MySql':
       return '<span class="domain-roles-icon"><img src="img/cf-icons/mysql.png" style="height: 30px;"/></span><span>Mysql</span>';
      case 'Joomla':
       return '<span class="domain-roles-icon"><img src="img/cf-icons/joomla.png" style="height: 30px;"/></span><span>Joomla</span>';
      case 'Drupal':
       return '<span class="domain-roles-icon"><img src="img/cf-icons/drupal.png" style="height: 30px;"/></span><span>Drupal</span>';
      case 'Ruby On Rails':
       return '<span class="domain-roles-icon"><img src="img/cf-icons/rubyonrails.png" style="height: 30px;"/></span><span>Ruby On Rails</span>';
      case 'Insoshi':
       return '<span class="domain-roles-icon"><img src="img/cf-icons/insoshi.png" style="height: 30px;"/></span><span>Insoshi</span>';
      case 'Redmine':
       return '<span class="domain-roles-icon"><img src="img/cf-icons/redmine.png" style="height: 30px;"/></span><span>Redmine</span>';
      case 'Custom App':
       return '<span class="domain-roles-icon"><img src="img/app-store-icons/customApp.png" style="height: 25px;"/></span><span>Custom App</span>';

      default: 
       return '<span class="domain-roles-icon"><img src="img/galleryIcons/2.png" style="height: 25px;"/></span><span>'+role+'</span>';

     }
}


 console.log('pid==>'+pid);
  if(!domains.length && (pid != '3' && pid != '1' && pid != '4' && pid != '5' && pid != '6' && pid != '2' && pid != '7')) {
  %><div class="alert alert-info fade in instanceSuccess" style="margin: 10px 25px;">No products found</div>
<% } else {
 %>
 <div class="panel-group" id="accordion">
  <%
    var firstPanelOpen=false;
    var collapseClassName;

    //console.log(pid);
    if(pid === '1') {
  %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#domainPanelpid1">
          conztanz.relevancelab.com
        </a>&nbsp;<a href="http://d4d.relevancelab.com:3002/" target="_blank"><img src="img/openLinkBl.png" style="height: 14px ;width: 14px;margin-bottom: 3px;"/></a><a href="zabbix-auto-login.html" target="_blank"><img class="graph-icon" src="img/graph-icon.png"/></a>
      </h4>
    </div> 
     <div id="domainPanelpid1" class="panel-collapse collapse in">
      <div class="panel-body">
        <ul class="thumbnails list-unstyled">
          <li class="domain-role-thumbnail">
            <div class="domain-roles">
            <div class="domain-roles-caption">
              <div class="domain-roles-heading" title="Planning"><%-getCardHeadingHtml('Planning')%></div>
              <div class="instance-details-list">
              <span class="instance-details-item"> Id : <strong>i-371f2617</strong> </span>
              <span class="instance-details-item"> Instance : <span class="instance-active">active</span> </span>
              
              </div>
              <div class="instance-bootstrap-list">
                <span class="instance-details-item"><a href="http://conztanz.relevancelab.com/" >JIRA</a></span> 
                <span class="instance-details-item"><a href="http://conztanz.relevancelab.com/" >JIRA Agile</a></span> 
                <span class="instance-details-item"><a href="http://conztanz.relevancelab.com/" >Crowd</a></span> 
                <span class="instance-details-item"><a href="http://conztanz.relevancelab.com/" >Confluence</a></span>
              </div>
              </div>
              </div>
            </li>
            <li class="domain-role-thumbnail">
            <div class="domain-roles">
            <div class="domain-roles-caption">
              <div class="domain-roles-heading" title="Build"><%-getCardHeadingHtml('Build')%></div>
              <div class="instance-details-list">
              <span class="instance-details-item"> Id : <strong>i-bc271e9c</strong> </span>
              <span class="instance-details-item"> Instance : <span class="instance-active">active</span> </span>
              
              </div>
              <div class="instance-bootstrap-list">
                <span class="instance-details-item"><a href="http://conztanz.relevancelab.com/" >Jenkins</a></span> 
                <span class="instance-details-item"><a href="http://conztanz.relevancelab.com/" >Nexus</a></span> 
                <span class="instance-details-item"><a href="http://conztanz.relevancelab.com/" >Rundeck</a></span> 
                <span class="instance-details-item"><a href="http://conztanz.relevancelab.com/" >DevOps Apps</a></span>
              </div>
              </div>
              </div>
              </li> 


        </ul>
      </div>
    </div>
  </div>
   <%firstPanelOpen = true; 
    }
      else if(pid === '2') {
  %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#domainPanelpid1">
          pmc_sierra.relevancelab.com
        </a>&nbsp;<a href="http://pmcsierra.relevancelab.com:8080/" target="_blank"><img src="img/openLinkBl.png" style="height: 14px ;width: 14px;margin-bottom: 3px;"/></a><a href="zabbix-auto-login.html" target="_blank"><img class="graph-icon" src="img/graph-icon.png"/></a>
      </h4>
    </div> 
     <div id="domainPanelpid1" class="panel-collapse collapse in">
      <div class="panel-body">
        <ul class="thumbnails list-unstyled">
          <li class="domain-role-thumbnail">
            <div class="domain-roles">
            <div class="domain-roles-caption">
              <div class="domain-roles-heading" title="Planning"><%-getCardHeadingHtml('Planning')%></div>
              <div class="instance-details-list">
              <span class="instance-details-item"> Id : <strong>i-371f2617</strong> </span>
              <span class="instance-details-item"> Instance : <span class="instance-active">active</span> </span>
              
              </div>
              <div class="instance-bootstrap-list">
                <span class="instance-details-item"><a href="http://pmcsierra.relevancelab.com:8080/" >JIRA</a></span> 
                <span class="instance-details-item"><a href="http://pmcsierra.relevancelab.com:8080/" >JIRA Agile</a></span> 
                <span class="instance-details-item"><a href="http://pmcsierra.relevancelab.com:8080/" >Crowd</a></span> 
                <span class="instance-details-item"><a href="http://pmcsierra.relevancelab.com:8080/" >Confluence</a></span>
              </div>
              </div>
              </div>
            </li>
            <li class="domain-role-thumbnail">
            <div class="domain-roles">
            <div class="domain-roles-caption">
              <div class="domain-roles-heading" title="Build"><%-getCardHeadingHtml('Build')%></div>
              <div class="instance-details-list">
              <span class="instance-details-item"> Id : <strong>i-bc271e9c</strong> </span>
              <span class="instance-details-item"> Instance : <span class="instance-active">active</span> </span>
              
              </div>
              <div class="instance-bootstrap-list">
                <span class="instance-details-item"><a href="http://pmcsierra.relevancelab.com:8080/" >Jenkins</a></span> 
                <span class="instance-details-item"><a href="http://pmcsierra.relevancelab.com:8080/" >Nexus</a></span> 
                <span class="instance-details-item"><a href="http://pmcsierra.relevancelab.com:8080/" >Rundeck</a></span> 
                <span class="instance-details-item"><a href="http://pmcsierra.relevancelab.com:8080/" >DevOps Apps</a></span>
              </div>
              </div>
              </div>
              </li> 

              <li class="domain-role-thumbnail">
            <div class="domain-roles">
            <div class="domain-roles-caption">
              <div class="domain-roles-heading" title="Deployment Node"><%-getCardHeadingHtml('Deployment Node')%></div>
              <div class="instance-details-list">
              <span class="instance-details-item"> Id : <strong>i-gn8109c</strong> </span>
              <span class="instance-details-item"> Instance : <span class="instance-active">active</span> </span>
              
              </div>
              <div class="instance-bootstrap-list">
                <span class="instance-details-item"><a href="http://pmcsierra.relevancelab.com:8080/" >Tomcat</a></span> 
              </div>
              </div>
              </div>
              </li>


        </ul>
      </div>
    </div>
  </div>

   <% firstPanelOpen = true; 
    } else if(pid === '3') { %>
         <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#domainPanelpid2">
         rlevaldevops.cloudapp.net
        </a>&nbsp;<a href="http://rlevaldevops.cloudapp.net/" target="_blank"><img src="img/openLinkBl.png" style="height: 14px ;width: 14px;margin-bottom: 3px;"/></a><a href="zabbix-auto-login.html" target="_blank"><img class="graph-icon" src="img/graph-icon.png"/></a>
      </h4>
    </div> 
     <div id="domainPanelpid2" class="panel-collapse collapse in">
      <div class="panel-body">
        <ul class="thumbnails list-unstyled">
          <li class="domain-role-thumbnail">
            <div class="domain-roles">
            <div class="domain-roles-caption">
              <div class="domain-roles-heading" title="Planning"><%-getCardHeadingHtml('Planning')%></div>
              <div class="instance-details-list">
              <span class="instance-details-item"> Id : <strong>i-n54i09</strong> </span>
              <span class="instance-details-item"> Instance : <span class="instance-active">active</span> </span>
              
              </div>
              <div class="instance-bootstrap-list">
                <span class="instance-details-item"><a href="http://rlevaldevops.cloudapp.net/" >A2A</a></span> 
              </div>
              </div>
              </div>
            </li>
        </ul>
      </div>
    </div>
  </div>
   <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#domainPanelpid222">
         pmc-sierra.cloudapp.net
        </a>&nbsp;<a href="http://pmc-sierra.cloudapp.net" target="_blank"><img src="img/openLinkBl.png" style="height: 14px ;width: 14px;margin-bottom: 3px;"/></a><a href="zabbix-auto-login.html" target="_blank"><img class="graph-icon" src="img/graph-icon.png"/></a>
      </h4>
    </div> 
     <div id="domainPanelpid222" class="panel-collapse collapse">
      <div class="panel-body">
        <ul class="thumbnails list-unstyled">
          <li class="domain-role-thumbnail">
            <div class="domain-roles">
            <div class="domain-roles-caption">
              <div class="domain-roles-heading" title="Planning"><%-getCardHeadingHtml('Planning')%></div>
              <div class="instance-details-list">
              <span class="instance-details-item"> Id : <strong>i-bz67i0</strong> </span>
              <span class="instance-details-item"> Instance : <span class="instance-active">active</span> </span>
              
              </div>
              <div class="instance-bootstrap-list">
                <span class="instance-details-item"><a href="http://pmc-sierra.cloudapp.net" >JIRA</a></span> 
              </div>
              </div>
              </div>
            </li>
             <li class="domain-role-thumbnail">
            <div class="domain-roles">
            <div class="domain-roles-caption">
              <div class="domain-roles-heading" title="Build"><%-getCardHeadingHtml('Build')%></div>
              <div class="instance-details-list">
              <span class="instance-details-item"> Id : <strong>i-se47u9</strong> </span>
              <span class="instance-details-item"> Instance : <span class="instance-active">active</span> </span>
              
              </div>
              <div class="instance-bootstrap-list">
                <span class="instance-details-item"><a href="http://pmc-sierra.cloudapp.net" >jenkins</a></span> 
              </div>
              </div>
              </div>
            </li>
             <li class="domain-role-thumbnail">
            <div class="domain-roles">
            <div class="domain-roles-caption">
              <div class="domain-roles-heading" title="Web Server"><%-getCardHeadingHtml('Web Server')%></div>
              <div class="instance-details-list">
              <span class="instance-details-item"> Id : <strong>i-za71k2</strong> </span>
              <span class="instance-details-item"> Instance : <span class="instance-active">active</span> </span>
              
              </div>
              <div class="instance-bootstrap-list">
                <span class="instance-details-item"><a href="http://pmc-sierra.cloudapp.net" >IIS</a></span> 
              </div>
              </div>
              </div>
            </li>
        </ul>
      </div>
    </div>
  </div>

    <% firstPanelOpen = true;
    } 
    else if(pid === '4') {
    %>
      <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#domainPanelpid31">
          rlrnd.relevancelab.com
        </a>&nbsp;<a href="http://192.168.101.43/" target="_blank"><img src="img/openLinkBl.png" style="height: 14px ;width: 14px;margin-bottom: 3px;"/></a><a href="zabbix-auto-login.html" target="_blank"><img class="graph-icon" src="img/graph-icon.png"/></a>
      </h4>
    </div> 
     <div id="domainPanelpid31" class="panel-collapse collapse in">
      <div class="panel-body">
        <ul class="thumbnails list-unstyled">
          <li class="domain-role-thumbnail">
            <div class="domain-roles">
            <div class="domain-roles-caption">
              <div class="domain-roles-heading" title="Planning"><%-getCardHeadingHtml('Planning')%></div>
              <div class="instance-details-list">
              <span class="instance-details-item"> Id : <strong>RLD3MONS01</strong> </span>
              <span class="instance-details-item"> Instance : <span class="instance-active">active</span> </span>
              
              </div>
              <div class="instance-bootstrap-list">
                <span class="instance-details-item"><a href="http://192.168.101.43/" >JIRA</a></span> 
                <span class="instance-details-item"><a href="http://192.168.101.43/" >JIRA Agile</a></span> 
                <span class="instance-details-item"><a href="http://192.168.101.42/" >Crowd</a></span> 
              </div>
              </div>
              </div>
            </li>
            <li class="domain-role-thumbnail">
            <div class="domain-roles">
            <div class="domain-roles-caption">
              <div class="domain-roles-heading" title="Build"><%-getCardHeadingHtml('Build')%></div>
              <div class="instance-details-list">
              <span class="instance-details-item"> Id : <strong>RLD2MGMT01</strong> </span>
              <span class="instance-details-item"> Instance : <span class="instance-active">active</span> </span>
              
              </div>
              <div class="instance-bootstrap-list">
                <span class="instance-details-item"><a href="http://192.168.101.42/" >Jenkins</a></span> 
                <span class="instance-details-item"><a href="http://192.168.101.42/" >Nexus</a></span> 
              </div>
              </div>
              </div>
              </li> 
              <li class="domain-role-thumbnail">
               <div class="domain-roles">
               <div class="domain-roles-caption">
               <div class="domain-roles-heading" title="Monitoring"><%-getCardHeadingHtml('Monitoring')%></div>
               <div class="instance-details-list">
               <span class="instance-details-item"> Id : <strong>RLTESTSRV03</strong> </span>
               <span class="instance-details-item"> Instance : <span class="instance-active">active</span> </span>
              </div>
              <div class="instance-bootstrap-list">
                <span class="instance-details-item"><a href="http://192.168.101.55/" >Zabbix</a></span> 
              </div>
              </div>
              </div>
              </li> 


        </ul>
      </div>
    </div>
  </div>

   <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#domainPanelpid32">
          rleval.relevancelab.com
        </a>&nbsp;<a href="http://d4d.relevancelab.com:3003" target="_blank"><img src="img/openLinkBl.png" style="height: 14px ;width: 14px;margin-bottom: 3px;"/></a><a href="zabbix-auto-login.html" target="_blank"><img class="graph-icon" src="img/graph-icon.png"/></a>
      </h4>
    </div> 
     <div id="domainPanelpid32" class="panel-collapse collapse">
      <div class="panel-body">
        <ul class="thumbnails list-unstyled">
          <li class="domain-role-thumbnail">
            <div class="domain-roles">
            <div class="domain-roles-caption">
              <div class="domain-roles-heading" title="Planning"><%-getCardHeadingHtml('Planning')%></div>
              <div class="instance-details-list">
              <span class="instance-details-item"> Id : <strong>i-611f2zf7</strong> </span>
              <span class="instance-details-item"> Instance : <span class="instance-active">active</span> </span>
              
              </div>
              <div class="instance-bootstrap-list">
                <span class="instance-details-item"><a href="http://192.168.103.34/" >JIRA</a></span> 
                <span class="instance-details-item"><a href="http://192.168.103.34/" >JIRA Agile</a></span> 
                <span class="instance-details-item"><a href="http://192.168.103.34/" >Confluence</a></span> 
              </div>
              </div>
              </div>
            </li>
            <li class="domain-role-thumbnail">
            <div class="domain-roles">
            <div class="domain-roles-caption">
              <div class="domain-roles-heading" title="Build"><%-getCardHeadingHtml('Build')%></div>
              <div class="instance-details-list">
              <span class="instance-details-item"> Id : <strong>i-b5201g9c</strong> </span>
              <span class="instance-details-item"> Instance : <span class="instance-active">active</span> </span>
              
              </div>
              <div class="instance-bootstrap-list">
                <span class="instance-details-item"><a href="http://192.168.103.33/" >Jenkins</a></span> 
                <span class="instance-details-item"><a href="http://192.168.103.33/" >Orch</a></span> 
                <span class="instance-details-item"><a href="http://192.168.103.35/" >Rundeck</a></span> 
              </div>
              </div>
              </div>
              </li> 
              <li class="domain-role-thumbnail">
               <div class="domain-roles">
               <div class="domain-roles-caption">
               <div class="domain-roles-heading" title="Monitoring"><%-getCardHeadingHtml('Monitoring')%></div>
               <div class="instance-details-list">
               <span class="instance-details-item"> Id : <strong>i-n2675g9c</strong> </span>
               <span class="instance-details-item"> Instance : <span class="instance-active">active</span> </span>
              </div>
              <div class="instance-bootstrap-list">
                <span class="instance-details-item"><a href="http://192.168.101.55/" >Zabbix</a></span> 
              </div>
              </div>
              </div>
              </li> 


        </ul>
      </div>
    </div>
  </div>
     <%
    firstPanelOpen = true; 
     } else if(pid === '5') {
    %>
      <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a  data-toggle="collapse" data-parent="#accordion" href="#domainPanelpid511">
         Informatica
        </a>&nbsp;<a href="http://d4d.relevancelab.com:3000" target="_blank"><img src="img/openLinkBl.png" style="height: 14px ;width: 14px;margin-bottom: 3px;"/></a><a href="zabbix-auto-login.html" target="_blank"><img class="graph-icon" src="img/graph-icon.png"/></a>
      </h4>
    </div>
     <div id="domainPanelpid511" class="panel-collapse collapse in">
      <div class="panel-body">
        <ul class="thumbnails list-unstyled">
          <li class="domain-role-thumbnail">
            <div class="domain-roles">
            <div class="domain-roles-caption">
              <div class="domain-roles-heading" title="Config Management"><%-getCardHeadingHtml('Config Management')%></div>
              <div class="instance-details-list">
              <span class="instance-details-item"> Id : <strong>i-27h9a7</strong> </span>
              <span class="instance-details-item"> Instance : <span class="instance-active">active</span> </span>
              
              </div>
              <div class="instance-bootstrap-list">
                <span class="instance-details-item"><a href="#" >Chef</a></span> 
                 <span class="instance-details-item"><a href="#" >Chef Hosted</a></span> 
              </div>
              </div>
              </div>
            </li>
        </ul>
      </div>
    </div> 
    </div>
    <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a  data-toggle="collapse" data-parent="#accordion" href="#domainPanelpid512">
         Yodlee
        </a>&nbsp;<a href="#"><img src="img/openLinkBl.png" style="height: 14px ;width: 14px;margin-bottom: 3px;"/></a><a href="zabbix-auto-login.html" target="_blank"><img class="graph-icon" src="img/graph-icon.png"/></a>
      </h4>
    </div> 
    <div id="domainPanelpid512" class="panel-collapse collapse">
      <div class="panel-body">
        <ul class="thumbnails list-unstyled">
          <li class="domain-role-thumbnail">
            <div class="domain-roles">
            <div class="domain-roles-caption">
              <div class="domain-roles-heading" title="Config Management"><%-getCardHeadingHtml('Config Management')%></div>
              <div class="instance-details-list">
              <span class="instance-details-item"> Id : <strong>i-18lf2p</strong> </span>
              <span class="instance-details-item"> Instance : <span class="instance-active">active</span> </span>
              </div>
              <div class="instance-bootstrap-list">
                <span class="instance-details-item"><a href="#" >Chef</a></span> 
                 <span class="instance-details-item"><a href="#" >Chef Hosted</a></span> 
              </div>
              </div>
              </div>
            </li>
        </ul>
      </div>
    </div> 
    </div>
    <%
    firstPanelOpen = true; 
     } else if(pid === '6') {
    %>
    <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#domainPanelpid4">
         rlopenstack.relevancelab.com
        </a>&nbsp;<a href="http://192.168.101.41/dashboard" target="_blank"><img src="img/openLinkBl.png" style="height: 14px ;width: 14px;margin-bottom: 3px;"/></a><a href="zabbix-auto-login.html" target="_blank"><img class="graph-icon" src="img/graph-icon.png"/></a>
      </h4>
    </div> 
     <div id="domainPanelpid4" class="panel-collapse collapse in">
      <div class="panel-body">
        <ul class="thumbnails list-unstyled">
          <li class="domain-role-thumbnail">
            <div class="domain-roles">
            <div class="domain-roles-caption">
              <div class="domain-roles-heading" title="Planning"><%-getCardHeadingHtml('Planning')%></div>
              <div class="instance-details-list">
              <span class="instance-details-item"> Id : <strong>i-19m2w6</strong> </span>
              <span class="instance-details-item"> Instance : <span class="instance-active">active</span> </span>
              
              </div>
              <div class="instance-bootstrap-list">
                <span class="instance-details-item"><a href="http://192.168.101.41/dashboard" >JIRA</a></span> 
              </div>
              </div>
              </div>
            </li>
        </ul>
      </div>
    </div>
  </div>

   <% firstPanelOpen = true; 
} else if(pid === '7') { %><!-- ends here if -->
 <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#domainPanelpid5">
         rlcloudstack.relevancelab.com
        </a>&nbsp;<a href="http://192.168.101.44" target="_blank"><img src="img/openLinkBl.png" style="height: 14px ;width: 14px;margin-bottom: 3px;"/></a><a href="zabbix-auto-login.html" target="_blank"><img class="graph-icon" src="img/graph-icon.png"/></a>
      </h4>
    </div> 
     <div id="domainPanelpid5" class="panel-collapse collapse in">
      <div class="panel-body">
        <ul class="thumbnails list-unstyled">
          <li class="domain-role-thumbnail">
            <div class="domain-roles">
            <div class="domain-roles-caption">
              <div class="domain-roles-heading" title="Planning"><%-getCardHeadingHtml('Planning')%></div>
              <div class="instance-details-list">
              <span class="instance-details-item"> Id : <strong>i-s295i2</strong> </span>
              <span class="instance-details-item"> Instance : <span class="instance-active">active</span> </span>
              
              </div>
              <div class="instance-bootstrap-list">
                <span class="instance-details-item"><a href="http://192.168.101.44" >JIRA</a></span> 
              </div>
              </div>
              </div>
            </li>
        </ul>
      </div>
    </div>
  </div> 

 <% 
   firstPanelOpen = true; 
 }
 for(var i=0;i<domains.length;i++) {
   var domain = domains[i];
   
   if((domain.domainInstances && domain.domainInstances.length) || (domain.appFactoryInstances && domain.appFactoryInstances.length)||(domain.stacks && domain.stacks.length)) {
    collapseClassName = ''
    if(!firstPanelOpen) {
     
      collapseClassName = 'in';
      firstPanelOpen = true;
    }
   %>
   
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#domainPanel<%=i%>">
          <%=domain.domainName%>
        </a>&nbsp;<a id="domainPanelAnchor<%=i%>" href="#" target="_blank" style="display:none"><img src="img/openLinkBl.png" style="height: 14px ;width: 14px;margin-bottom: 3px;"/></a><a href="zabbix-auto-login.html" target="_blank"><img class="graph-icon" src="img/graph-icon.png"/></a>
      </h4>
    </div> 
   
   <div id="domainPanel<%=i%>" class="panel-collapse collapse <%=collapseClassName%>">
      <div class="panel-body">
        <ul class="thumbnails list-unstyled">
         <% var instances = domain.domainInstances;
            for(var j=0;j<instances.length;j++) {
          %>
          <li class="domain-role-thumbnail">
            <div class="domain-roles">
            <div class="domain-roles-caption">
              <div class="domain-roles-heading" title="<%=instances[j].instanceRole%>"><%-getCardHeadingHtml(instances[j].instanceRole)%></div>
              <div class="instance-details-list">
              <span class="instance-details-item"> Id : <strong><%=instances[j].instanceId%></strong> </span>
              <%
                if(instances[j].instanceRole === 'Planning') {
               %><script>
                $('#domainPanelAnchor<%=i%>').attr('href','http://<%=instances[j].instanceIP%>:8080');
                $('#domainPanelAnchor<%=i%>').show();
               </script>
               <%}

               var classInstanceStatus = 'instance-inactive' 
               var instanceStatusText = 'inactive'
               if(instances[j].instanceActive) {
                 classInstanceStatus = 'instance-active';
                 instanceStatusText = 'active';
               }
              %>
              <span class="instance-details-item"> Instance : <span class="<%=classInstanceStatus%>"><%=instanceStatusText%></span> </span>
              
              </div>
              <div class="instance-bootstrap-list">
               <% 
                if(instances[j].bootStrapStatus) {
                 for(var k=0;k<instances[j].runlist.length;k++) {
                  var d = getRolesLink(instances[j].runlist[k],domain.domainName,instances[j].instanceIP);
                 %>
                 <span class="instance-details-item"><%-d%></span> 
                 <%}
               } else {
               %><span class="instance-inactive">Bootstrapping Failed</span>
             <% } %>
              </div>
            </div>
          </div>
            </li>
            <%}%>
            <% var appFactoryInstances = domain.appFactoryInstances;
            for(var j=0;j<appFactoryInstances.length;j++) {
          %>
          <li class="domain-role-thumbnail">
            <div class="domain-roles">
            <div class="domain-roles-caption">
              <div class="domain-roles-heading" title="<%=appFactoryInstances[j].instanceName%>"><%- getAppFactoryCardHeadingHtml(appFactoryInstances[j].instanceName)%></div>
              <div class="instance-details-list">
              <span class="instance-details-item"> Id : <strong><%=appFactoryInstances[j].instanceId%></strong> </span>
             <%
               var classInstanceStatus = 'instance-inactive' 
               var instanceStatusText = 'inactive'
               if(appFactoryInstances[j].instanceState === 'running' ||  appFactoryInstances[j].instanceState === 'pending' ) {
                 classInstanceStatus = 'instance-active';
               }
              %>
              <span class="instance-details-item"> Instance Status: <span class="<%=classInstanceStatus%> instanceState"><%=appFactoryInstances[j].instanceState%></span> </span>
              
              </div>
              <div class="instance-bootstrap-list">
               <%if(appFactoryInstances[j].instanceState !== 'terminated' || appFactoryInstances[j].instanceState !== 'shutting-down') {%>
               <div class="instanceActionControlConatiner" data-pid="<%=domain.domainPid%>" data-domainName="<%=domain.domainName%>" data-instanceRegion="<%=appFactoryInstances[j].instanceRegion%>" data-instanceId="<%=appFactoryInstances[j].instanceId%>" >
               <span title="Start" class="appFactStartInstance instanceActionControl"><i class="fa fa-play"></i></span>
               <span title="Stop" class="appFactStopInstance instanceActionControl"><i class="fa fa-stop"></i></span>
               <span title="Terminate" class="appFactTerminateInstance instanceActionControl"><i class="fa fa-power-off"></i></span>
               </div>
               <%}%>
              </div>
            </div>
          </div>
            </li>
            
             
           <%}  var cfStacks = domain.stacks; 
           for(var j=0;j<cfStacks.length;j++) { %>
                <li class="domain-role-thumbnail">
            <div class="domain-roles">
            <div class="domain-roles-caption">
              <div class="domain-roles-heading" title="<%=cfStacks[j].templateName%>"><%- getCFCardHeadingHtml(cfStacks[j].templateName)%></div>
              <div class="instance-details-list">
              <span class="instance-details-item" style="text-overflow:ellipsis; overflow:hidden;height: 30px;" title="<%=cfStacks[j].stackId%>">Stack Id : <strong><%=cfStacks[j].stackId%></strong> </span>
              <span class="instance-details-item" style="text-overflow:ellipsis;  overflow:hidden;height: 30px;"> Stack Name : <span class=""><strong><%=cfStacks[j].stackName%></strong></span> </span>
              
              </div>
              <!--<div class="instance-bootstrap-list">
              
              </div>-->
              </div>
             </div>
            </li>
           <%}%>
 
         </ul> 

      </div>
    </div>
  </div>
  <%}}%>
  <%
  if(unallocatedInstances && unallocatedInstances.length) {
  %>

 <div class="panel panel-default"> 
  <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#unallocatedPanel">
         Unallocated Instances
        </a>
      </h4>
    </div>

<div id="unallocatedPanel" class="panel-collapse collapse">
      <div class="panel-body">
        
  

<table class="table table-striped"> 
<th>Name</th><th>Instance Id</th><th>Instance Type</th><th>AMI</th><th>Availability Zone</th><th>Instance State</th><th>Public IP</th><th>Private IP</th>
<%
    for(var i=0;i<unallocatedInstances.length;i++) {
    var instance = unallocatedInstances[i];

   // console.log(instance.Tags);
    var name = '';
    if(instance.Tags) {
     instance.Tags.forEach(function(item){
       if(item.Key === 'Name') {
         name = item.Value;
       }
     });
    }
    var privateIp = '';
    if(instance.PrivateIpAddress) {
       privateIp = instance.PrivateIpAddress;
    }
    var publicIp = '';
    if(instance.PublicIpAddress) {
       publicIp = instance.PublicIpAddress;
    }
    var availabiltyZone = '';
    if(instance.Placement && instance.Placement.AvailabilityZone) {
        availabiltyZone = instance.Placement.AvailabilityZone;    
    }
    var instanceState = '';
    if(instance.State && instance.State.Name) {
        instanceState = instance.State.Name;    
    }

%> 
<tr><td><%=name%></td><td><%=instance.InstanceId%></td><td><%=instance.InstanceType%></td><td><%=instance.ImageId%></td><td><%=availabiltyZone%></td><td><%=instanceState%></td><td><%=publicIp%></td><td><%=privateIp%></td></tr>
<%}%> 
</table>
    </div>
  </div>
</div>
<%}%>

</div>
<%}}%>
<script type="text/javascript">

$('.appFactStartInstance').click(function(e){
  var $this = $(this);
  var reqBody = {}; 
  reqBody.instanceId = $this.parent().attr('data-instanceId');
  reqBody.instanceRegion = $this.parent().attr('data-instanceRegion');
  reqBody.pid = $this.parent().attr('data-pid');
  reqBody.domainName = $this.parent().attr('data-domainName');
  
  $.post("/app_factory/startInstance",reqBody,function(data){
    $this.parents('.domain-roles-caption').find('.instanceState').html(data).removeClass('instance-inactive').addClass('instance-active');
    

  });
  
});

$('.appFactStopInstance').click(function(e){

  var $this = $(this);
  var reqBody = {}; 
  reqBody.instanceId = $this.parent().attr('data-instanceId');
  reqBody.instanceRegion = $this.parent().attr('data-instanceRegion');
  reqBody.pid = $this.parent().attr('data-pid');
  reqBody.domainName = $this.parent().attr('data-domainName');
  
  $.post("/app_factory/stopInstance",reqBody,function(data){
    $this.parents('.domain-roles-caption').find('.instanceState').html(data).removeClass('instance-active').addClass('instance-inactive');
    

  });




});

$('.appFactTerminateInstance').click(function(e){
   var $this = $(this);
  var reqBody = {}; 
  reqBody.instanceId = $this.parent().attr('data-instanceId');
  reqBody.instanceRegion = $this.parent().attr('data-instanceRegion');
  reqBody.pid = $this.parent().attr('data-pid');
  reqBody.domainName = $this.parent().attr('data-domainName');
  
  $.post("/app_factory/terminateInstance",reqBody,function(data){
    $this.parents('.domain-roles-caption').find('.instanceState').html(data).removeClass('instance-active').addClass('instance-inactive');
    

  });

});


</script>

