<% if(!error) {  
 
 function getRolesLink(role,domainName,ip) {
  
  switch(role) {
      case 'JIRA':
      return {link:"http://"+ip+":8080/"};   
      case 'Crowd':
      return {link:"http://"+ip+":8090/"};   
      case 'Confluence':
      return {link:"http://"+ip+":8090/"};
      case 'Jenkins':
      return {link:"http://"+ip+":8080/"};
      case 'Nexus':
       return {link:"http://"+ip+":8081/"};
      case 'Rundeck':
       return {link:"http://"+ip+":8090/"};
      case 'Nagios':
       return {link:"http://"+ip+"/"};
      case 'Selenium':
       return {link:"http://"+ip+":4444/"};
     }

}



 if(!domains.length){
  %><div class="alert alert-info fade in instanceSuccess" style="margin: 10px 25px;">No domains found</div>
<% } else {
 for(var i=0;i<domains.length;i++) {
   var domain = domains[i];
   if(domain.domainsInstaces && domain.domainsInstaces.length) {
   %>
   <div class="fade in instanceSuccess" style="margin: 10px 25px;">
   	<div><strong><%=domain.domainName%></strong></div>
   <%
   var instances = domain.domainsInstaces;
   for(var j=0;j<instances.length;j++) {
     var instanceClassName = 'alert-info';
     var instanceStatus = 'active';
     if(!instances[j].instanceActive) {
      instanceClassName = "alert-danger";
      instanceStatus = "inactive";
     }
   %>
   <div class="alert <%=instanceClassName%>">
   <div><strong>Role :- <%=instances[j].instanceRole%> </strong></div>
   <div>Instance Id :- <%=instances[j].instanceId%></div>
   <div>Instance status :- <%=instanceStatus%></div> 
   <% 
    if(instances[j].bootStrapStatus) {
     for(var k=0;k<instances[j].runlist.length;k++) {
       var d = getRolesLink(instances[j].runlist[k],domain.domainName,instances[j].instanceIP);
       if(d) {
   %> 
   <div><%=instances[j].runlist[k]%> :- <a href="<%=d.link%>"><%=domain.domainName%>/<%=instances[j].runlist[k]%></a></div>
   <%
    }}
    } else {
   %>
   <div class="alert-danger">Bootstrapping of this instance failed</div>
   <%
   }
%></div><% }
%></div><%
}}}}
   %>

