<%if(!error) { %>
<html>
<head>
    <link rel="stylesheet" href="css/bootstrap.css">
    <!--<link rel="stylesheet" href="css/redmond/jquery-ui.min.css">-->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<style>
html,body {
	height:100%;
}
.environmentContainer {
padding-top: 10px;
height: 100%;
}
.topRow {
	height: 10%;
}
.middleRow {
	height: 87%;
}
.middle-row-item {
 height: 100%;
}
.draggableContainer,.droppableContainer {
 border : 1px solid black;
}
.droppable-layer {
 height: 16.67%;
 border: 1px solid red;
}
.right-draggable-items-container{
	height: 50%;
}
.environment-heading{
	display: block;
    text-align: center;
   
}
.layer-heading {
	display: block;
    text-align: left;
    text-decoration: underline;
}
.left-draggable-list {
	 margin-top: 20px;
    padding-left: 0;
    text-align: center;
}
.left-draggable-item {
	list-style: none outside none; 
    margin-bottom: 10px;
     width: 100%;
     cursor: crosshair;
     z-index: 100;
}

.rt-draggable-item-content {

}
.droppable-area {
  width: 100%;
  height: 78%;
  overflow-y: auto;
}

.lt-draggable-item-icon {
  height:50px;
}
.left-draggable-items-container {
  height: 95%;
  overflow-y: auto;
}
.dropped-item {
  float: left;
  margin-left: 2%;
  position: relative;
  margin-top: 1%;
  border-radius: 10px;
  margin-bottom: 1%;
  border:2px solid #DDDDDD;
  cursor: pointer;
}
.tier-draggable-container {
    border-bottom: 1px solid #000000;
    height: 5%;
}
.environment-canvas {
  height: 93%;
  padding-top: 2%;
  overflow-y: auto;
  width: 100%;
}
.tier-list {
 
  
}
.tier-clickable-item {
   list-style: none outside none; 
   float: left;
   padding-left: 4.5%;
}

.tier-area {
   border: 1px dashed #000000;
    margin-bottom: 2%;
    min-height: 20%;
}
.tier-heading {
  margin-left: 1%;
}
.tier-item-area{
 overflow: auto;
 }

 .deleteIconContainer {
    height: 15px;
    position: absolute;
    right: 0;
    top: 0;
    width: 15px;
    cursor: pointer;
    display: none;
  }
  .deleteInstanceIcon {
    height:100%;
    width: 100%;
  }
  .show-instance-icon {
   display: block !important;
  }
  .selectIconContainer {
    height: 15px;
    position: absolute;
    left:0;
    top: 0;
    width: 15px;
    cursor: pointer;
    display: none;
  }
  .selectDeselectIcons {
    height:100%;
    width: 100%;
  }
  .selectUnselectIcons {
    display: block;
  }
  .deSelectInstanceIcon {
    display: none;
  }
  .instanceSelected {
    border:2px solid green;
  }
  .cookbooklist {
    height:60% !important;
    width: 100%;
  }
  .cookbook-button-container{
    margin-top: 10px;
    text-align: center;
  }
  .cookbook-container {
    margin-top: 15px;
  }
  .none-selected-info {

  }
  .multi-selected-info {
    display: none;   
  }
  .single-selected-info {
    display: none;
  }
  .selected-instance-info {
    margin-top: 10px;
    text-align: center;
  }
  .single-selected-info {
    text-align: left;
  }
  .single-instance-runlist {
    height: 55%;
    overflow-y: auto;
  }
  .single-instance-type {
    display: block;
  }
  .btn-container{
    text-align: center;
  }
</style>

</head>
<body>
<div class="environmentContainer">
  <!--<div class="topRow col-md-12" ></div>-->
  <div class="middleRow col-md-12">
  	<div class="draggableContainer draggableContainer-l middle-row-item col-sm-2">
      <span class="environment-heading"><strong>Components</strong></span>
      <div class="left-draggable-items-container">
        <ul class="left-draggable-list">
            <li class="left-draggable-item fw-draggable-item"><div class="lt-draggable-item-content"><img class="lt-draggable-item-icon" src="img/dndicons/firewallicon.png" style="height:80px"/><span style="display: block;">Firewall</span></div></li>
            <li class="left-draggable-item lb-draggable-item"><div class="lt-draggable-item-content"><img class="lt-draggable-item-icon" src="img/dndicons/loadbalance.png"style="" /></div></li>
            <li class="left-draggable-item ws-draggable-item"><div class="lt-draggable-item-content"><img class="lt-draggable-item-icon" src="img/dndicons/webservericon.png" style="height:80px"/><span style="display: block;">Web Server</span></div></li>
            <li class="left-draggable-item as-draggable-item"><div class="lt-draggable-item-content"><img class="lt-draggable-item-icon" src="img/dndicons/appservericon.png" style="height:80px"/><span style="display: block;">App Server</span></div></li>
            <li class="left-draggable-item be-draggable-item"><div class="lt-draggable-item-content"><img class="lt-draggable-item-icon" src="img/dndicons/appservericon.png" style="height:80px"/><span style="display: block;">Backend Server</span></div></li>
            <li class="left-draggable-item db-draggable-item"><div class="lt-draggable-item-content"><img class="lt-draggable-item-icon" src="img/dndicons/dbservericon-master.png" style="height:80px"/><span style="display: block;">DB Server Master</span></div></li>
            <li class="left-draggable-item db-draggable-item"><div class="lt-draggable-item-content"><img class="lt-draggable-item-icon" src="img/dndicons/dbservericon-slave.png" style="height:80px"/><span style="display: block;">DB Server Slave</span></div></li>
        </ul>
      </div>
  	</div>
    <div class="droppableContainer middle-row-item col-sm-8">
      <div class="tier-draggable-container">
        <ul class="tier-list">
         <li class="tier-clickable-item fw-tier-item"data-val="firewall"><a href="javascript:void(0)">Firewall</a></li>
         <li class="tier-clickable-item lb-tier-item" data-val="lb_tier"><a href="javascript:void(0)">Load Balancer Tier</a></li>
         <li class="tier-clickable-item wb-tier-item" data-val="ws_tier"><a href="javascript:void(0)">Web Tier</a></li>
         <li class="tier-clickable-item ap-tier-item" data-val="app_tier"><a href="javascript:void(0)">App Tier</a></li>
         <li class="tier-clickable-item be-tier-item" data-val="be_tier"><a href="javascript:void(0)">Backend Tier</a></li>
         <li class="tier-clickable-item db-tier-item" data-val="db_tier"><a href="javascript:void(0)">Database Tier</a></li>
        </ul>
      </div>
      
      <div class="environment-canvas"></div>

     
    </div>
  	<div class="draggableContainer draggableContainer-r middle-row-item col-sm-2">
  		<div class="runlist-draggable right-draggable-items-container">
  			 <span class="environment-heading"><strong>Cookbooks</strong></span>
         <div class="cookbook-container">
               <select multiple="multiple" class="cookbooklist" disabled> 
                  <%for(var i =0; i< cookbooks.length; i++){%>
                      <option data-id="<%=i%>" value='<%=cookbooks[i]%>'><%=cookbooks[i]%></option>
                  <%}%>
                </select>
                <div class="cookbook-button-container"><button class="btn-success btn addCookbookBtns" disabled>Add Cookbooks</button></div>
         </div>
  		</div>
  		<div class="build-droppable right-draggable-items-container">
  			 <span class="environment-heading"><strong>Instance Details</strong></span>
         <div class="selected-instance-info">
          <span class="none-selected-info">No Instance Selected</span>
          <span class="multi-selected-info">Multiple Instances Selected</span>
          <div class="single-selected-info">
            <div><span><strong>Intance Type:- </strong></span><span class="single-instance-type"></span></div>
            <div style="margin-top:10px"><span><strong>Runlist:- </strong></span><div class="single-instance-runlist"></div></div>
          </div> 
        </div>
  		</div>
    
  	</div>
  </div>
  <div class="btn-container"><!--<button class="btn btn-info" style="margin-top: 1%;">Save Blueprint</button>-->
<a type="button" value="Save As Blueprint" href="#blueprintSaveModalEnv" class="saveAsAppStoreBtn btn btn-info" name="Launch" data-target="#blueprintSaveModalEnv" data-toggle="modal" role="button">Save Blueprint</a>
  </div>

<!-- Modal -->
<div class="modal fade" id="blueprintSaveModalEnv" tabindex="-1" role="dialog" aria-labelledby="blueprintTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
        <h4 class="modal-title" id="blueprintTitle">Blueprint Name</h4>
      </div>
      <div class="modal-body">
        <%if(domains && domains.length) { %>
          <span style="">&nbsp; Blueprint &nbsp;&nbsp;: <select id="bluePrintNameEnv">
            <option>Choose Blueprint</option>
        <%    for(var i=0;i<domains.length;i++) {
             if(domains[i].blueprintsEnvironment && domains[i].blueprintsEnvironment.length) {

                for(var j=0;j<domains[i].blueprintsAppFactory.length;j++) {

            %>
            <option value="<%=domains[i].blueprintsEnvironment[j]%>"><%=domains[i].blueprintsEnvironment[j]%></option>
            <%}}}%>
             </select></span>
            <%}%>
        <br/><br/>&nbsp;&nbsp;<input type="checkbox" name="blueprintType" id="blueprintTypeEnv"/><span style="">&nbsp; Blueprint Name : <input id="bluePrintNameTextEnv" type="text" disabled/></span>
        <%
            if(domains && domains.length) {
            %>
            <br/><br/><span style="">&nbsp; Domain Name &nbsp;&nbsp;: <select id="bluePrintDomainNameEnv">
            <option>Choose Domains</option>
            <%for(var i=0;i<domains.length;i++){%>
              <option value="<%=domains[i].domainName%>"><%=domains[i].domainName%></option>
            <%}%>
            </select></span>
            <%}%>
             <br/><br/>&nbsp;&nbsp;<input type="checkbox" name="domainType" id="domainTypeEnv"/><span style="">&nbsp; Create New : <input id="createDomainNameTextEnv" type="text" disabled/>.relevancelab.com</span>
            
      </div>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
        <button type="button" class="btn btn-primary save-blueprint-btn-env" data-dismiss="modal">Save</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</div>





</body>
<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')
</script>
<script src="js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="js/bootstrap.js"></script> -->

<script type="text/javascript">
 $(function(){
   
   $('#domainTypeEnv').change(function() {
        if($(this).is(":checked")) {
          $('#bluePrintDomainNameEnv').parent().hide();
          $('#bluePrintDomainNameEnv').attr('disabled',true);
          $('#createDomainNameTextEnv').attr('disabled',false);
          
        } else {
           $('#bluePrintDomainNameEnv').parent().show();
          $('#bluePrintDomainNameEnv').attr('disabled',false);
          $('#createDomainNameTextEnv').attr('disabled',true);
          
        }
  });

  $('#blueprintTypeEnv').change(function() {
        if($(this).is(":checked")) {
           $('#bluePrintNameEnv').parent().hide();
          $('#bluePrintNameEnv').attr('disabled',true);
          $('#bluePrintNameTextEnv').attr('disabled',false);
          
        } else {
           $('#bluePrintNameEnv').parent().show();
          $('#bluePrintNameEnv').attr('disabled',false);
          $('#bluePrintNameTextEnv').attr('disabled',true);          
        }
  });

  $('.save-blueprint-btn-env').click(function(e){
    var data = {};
    console.log($('.nav-prod').length);
     data.pid = $('.nav-prod').filter('.active').attr('data-pid');
     console.log(data.pid);
    var bluePrintName;
    if(!$('#blueprintTypeEnv').is(":checked")) {
      bluePrintName =  $("#bluePrintNameEnv").val();
    } else {
      bluePrintName =  $('#bluePrintNameTextEnv').val();
    }

    data.bluePrintName = bluePrintName;
    var domainName;
    if(!$('#domainTypeEnv').is(":checked")) {
      domainName =  $("#bluePrintDomainNameEnv").val();
    } else {
      domainName =  $('#createDomainNameTextEnv').val() + '.relevancelab.com';
    }
    data.domainName = domainName;
    $.post('/environments/saveBluePrint',data,function(data){
       console.log('posted');
       $('#blueprintSaveModalEnv').modal('hide')
    });
    return false;
  }); 

  $('.left-draggable-item').draggable({ 
   	cursor: "crosshair",
    helper: "clone"
   });

   var $canvas = $('.environment-canvas');

   $cookbooklist = $('.cookbooklist');
   $cookbooklistBtn = $('.addCookbookBtns');
   function enableCookbooksList() {
     $cookbooklist.prop('disabled',false);
     $cookbooklistBtn.prop('disabled',false);
   } 
   function disableCookbooksList() {
     $cookbooklist.prop('disabled',true);
     $cookbooklistBtn.prop('disabled',true);
   }
    $cookbooklistBtn.click(function(e){
     var selectedRunlist =  $cookbooklist.val();
     if(selectedRunlist && selectedRunlist.length) {
        var $selecteInstances = $('.instanceSelected');
        $selecteInstances.data('runlist',selectedRunlist);
        if($selecteInstances.length === 1) {
          fillSelectedInstanceInfo($selecteInstances.first());
        }
     }
      $cookbooklist.find('option').removeAttr("selected");
    });

   
    var $instanceDetailContainer = $('.single-selected-info');
    var $multiSelectedInfo = $('.multi-selected-info');
    var $noneSelectedInfo = $('.none-selected-info');
   
    
    var $selectedInstanceRunlistContainer = $('.single-instance-runlist');
    var $selectedInstanceTypeContainer = $('.single-instance-type');
    function fillSelectedInstanceInfo($selectedInstance){
        var instanceType = $selectedInstance.parent().parent().attr('data-instance-type');
        var runlist = $selectedInstance.data('runlist');
        var str='This instance has no runlist attached to it';
        if(runlist && runlist.length) {
         str = '<ul style="padding-left=0">';
         for(var i=0;i<runlist.length;i++) {
           str = str + '<li style="list-style: none outside none;">'+runlist[i]+'</li>'
         }
         str = str + '</ul>';
        }
        $selectedInstanceRunlistContainer.empty().append(str);
        $selectedInstanceTypeContainer.empty().append(instanceType);

    }

   function onDrop(event,ui) {
    
     var $container = $('<div class="dropped-item"></div>');
     $container.append(ui.draggable.find('img').clone(false,false).css({height:'45px'}));
     var $deleteIcon = $('<span class="deleteIconContainer icons-container"><img class="deleteInstanceIcon" src="img/delete.png" /></span>').click(function(e){
      $(this).parent().remove();
     });
     
     var $selectDeselectIconContainer = $('<span class="selectIconContainer icons-container"><img class="selectInstanceIcon selectDeselectIcons" src="img/add.png" title="Select"/><img class="deSelectInstanceIcon selectDeselectIcons" src="img/deselect.png" title="Deselect" /></span>');
     var $selectIcon  =  $selectDeselectIconContainer.find('.selectInstanceIcon');
     var $deselectIcon = $selectDeselectIconContainer.find('.deSelectInstanceIcon');
     console.log($selectIcon.get(0));
     console.log($deselectIcon.get(0));
     
     $selectIcon.click(function(e){
       console.log('click select')
       $selectIcon.hide();
       $deselectIcon.show();
       $container.addClass('instanceSelected');
       enableCookbooksList();
       var $selecteInstances = $('.instanceSelected');
       if(!$selecteInstances.length) {
        $multiSelectedInfo.hide();
        $noneSelectedInfo.show();
        $instanceDetailContainer.hide();
       } else {
        if($selecteInstances.length === 1) {
          $multiSelectedInfo.hide();
          $noneSelectedInfo.hide();
          fillSelectedInstanceInfo($selecteInstances.first());
          $instanceDetailContainer.show();
        } else {
          $multiSelectedInfo.show();
          $noneSelectedInfo.hide();
          $instanceDetailContainer.hide();
        }
       }
       return false;
     });
     $deselectIcon.click(function(e){
       console.log('click');
       $selectIcon.show();
       $deselectIcon.hide();
       $container.removeClass('instanceSelected');
       var $selecteInstances = $('.instanceSelected');
       if(!$selecteInstances.length) {
        $multiSelectedInfo.hide();
        $noneSelectedInfo.show();
        $instanceDetailContainer.hide();
        disableCookbooksList();
       } else {
        if($selecteInstances.length === 1) {
          $multiSelectedInfo.hide();
          $noneSelectedInfo.hide();
           fillSelectedInstanceInfo($selecteInstances.first());
          $instanceDetailContainer.show();
        } else {
          $multiSelectedInfo.show();
          $noneSelectedInfo.hide();
          $instanceDetailContainer.hide();
        }
       }
       return false;
     });

     $container.click(function(e){
       $('.instanceSelected').find('.deSelectInstanceIcon').trigger('click');
       $selectIcon.hide();
       $deselectIcon.show();
       $container.addClass('instanceSelected');
       enableCookbooksList();
       $multiSelectedInfo.hide();
       $noneSelectedInfo.hide();
       fillSelectedInstanceInfo($container);
        $instanceDetailContainer.show();
     });


     $container.append($deleteIcon);
      $container.hover(function(e){
        $(this).find('.icons-container').addClass('show-instance-icon');
      },function(e){
        $(this).find('.icons-container').removeClass('show-instance-icon');
      });
     $(this).find('.tier-item-area').append($container);
     
    $container.append($selectDeselectIconContainer);
   } 

  

   function addDropEvent($div,acceptClass,dropEvent) {
     $div.droppable({
      accept:'.'+acceptClass,
      drop:dropEvent
     });
   }

   function createTierHTMLElem(tierType) {
      var $div = $(document.createElement('div')).addClass('tier-area');
      var $spanHeading = $(document.createElement('span')).addClass('tier-heading');
      var $divItemArea = $(document.createElement('div')).addClass('tier-item-area');
      switch(tierType) {
        case 'firewall':
          $spanHeading.append('Firewall');
          $div.addClass('firewall-tier-area');
          $div.attr('data-instance-type','Firewall');
          addDropEvent($div,'fw-draggable-item',onDrop);
        break;
        case 'lb_tier':
          $spanHeading.append('Load Balancer');
          $div.addClass('lb-tier-area');
          $div.attr('data-instance-type','Load Balancer');
          addDropEvent($div,'lb-draggable-item',onDrop);
        break;
        case 'ws_tier':
          $spanHeading.append('Web Server');
          $div.addClass('ws-tier-area');
          $div.attr('data-instance-type','Web Server');
          addDropEvent($div,'ws-draggable-item',onDrop);
        break;
        case 'app_tier':
          $spanHeading.append('App Server');
          $div.addClass('app-tier-area');
          $div.attr('data-instance-type','App Server');
           addDropEvent($div,'as-draggable-item',onDrop);
        break;
        case 'be_tier':
          $spanHeading.append('Backend');
          $div.addClass('be-tier-area');
          $div.attr('data-instance-type','Backend Server');
           addDropEvent($div,'be-draggable-item',onDrop);
        break;
        case 'db_tier':
          $spanHeading.append('Database');
          $div.addClass('db-tier-area');
          $div.attr('data-instance-type','Db Server');
           addDropEvent($div,'db-draggable-item',onDrop);
        break; 
      }
      $div.attr('data-tier-type',tierType); 
      $div.append($spanHeading).append($divItemArea); 
      return $div;
   }

   function isTierAreaExist(tierType) {
    var className;
    switch(tierType) {
        case 'firewall':
        className='firewall-tier-area';
        break;
        case 'lb_tier':
        className='lb-tier-area';
        break;
        case 'ws_tier':
        className='ws-tier-area';
        break;
        case 'app_tier':
        className='app-tier-area';
        break;
        case 'be_tier':
        className='be-tier-area';
        break;
        case 'db_tier':
        className='db-tier-area';
        break;
    }
     if($canvas.find('.'+className).length){
       return true;
     } else {
       return false;
     }
       
   }

   var tier_order_classNames = ['firewall','lb_tier','ws_tier','app_tier','be_tier','db_tier'];
   var lastElementIndex = -1;  
   
   function findTierPosition(tierType) {
     var $posElement;
     
     var className;  
     var indexOfTier = tier_order_classNames.indexOf(tierType);
     var $children = $canvas.children();
     for(i=0;i<$children.length;i++) {
        var $item = $($children[i]);
        var itemType = $item.attr('data-tier-type');
        var itemIndex = tier_order_classNames.indexOf(itemType);
        if(itemIndex>indexOfTier /*&& itemIndex>=lastElementIndex*/) {
          $posElement = $item;
          lastElementIndex =itemIndex;
          break;
        }
     }
     return $posElement;    
   }

   $('.tier-clickable-item').click(function(e){
     var $this = $(this);
     var itemType = $this.attr('data-val');
     if(!isTierAreaExist(itemType)) {
       var $div = createTierHTMLElem(itemType); 
       var $posELement = findTierPosition(itemType);
       if($posELement) {
         $div.insertBefore($posELement);
       } else {
        $canvas.append($div);
       }
       $div.parent().scrollTop($div.offset.top);
     }
   });
   


 });
 
</script>

</html>
<%}%>